
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Filter
category: Module - Filter
---

Default Style CSS

*/

.tips {
  margin-top: 1em;
  font-size: 80%;
}

.filter {
  &-help {
    a {
      border-bottom: 0;

      &:before {
        content: "\ed55";
        font-family: "icomoon";
        margin-right: .5em;
      }
    }
  }

  &-wrapper {
    border-bottom: pem(1px) solid #ccc;
    background: #fff;
    border-top: 0;
  }

  .fieldset-wrapper {
    padding: rhythm(0.5) rhythm(1);
  }
}

.text-format-wrapper {
  .form-item {
    padding-left: 0;
    margin-bottom: 0;

    label,
    .label {
      position: relative;
      width: auto;
      margin-right: 0;
      text-align: left;
    }
  }
}

// scss-lint:disable SelectorFormat
.ckeditor_links {
  display: block;
  padding: rhythm(0.5) rhythm(1);
  border-right: pem(1px) solid #ccc;
  border-bottom: 0;
  border-left: pem(1px) solid #ccc;
  background: #fff;

  &:hover,
  &:focus {
    border-right: pem(1px) solid #ccc;
    border-left: pem(1px) solid #ccc;
    background: #{map-get($colorz, "default")};
    color: #fff;
  }
}
// scss-lint:enable SelectorFormat
