
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Message Dismiss
category: Components
versionning:
- version: 1.0
  update: 2019-04-25T10:00:00Z
  owner: Axel Roche
---

All messages require relative positioning for the Dismiss button to be placed properly.

  <div role="alert" class="messages messages--info clearfix">
    <button class="dismiss"><span class="element-invisible">Close this message</span></button>
    <h2 class="messages__title element-invisible">Message</h2>
    <div class="messages__content">
      <p>Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul>
        <li>Le champ Nom d'utilisateur est requis.</li>
        <li>Le champ Mot de passe est requis.</li>
      </ul>
      <p class="mtm"><a href="#" class="btn btn-info">Demo button</a></p>
    </div>
  </div>

  <div role="alert" class="messages messages--info clearfix">
    <button class="dismiss"><span class="element-invisible">Close this message</span></button>
    <h2 class="messages__title element-invisible">Message</h2>
    <div class="messages__content">
      <p>Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul>
        <li>Le champ Nom d'utilisateur est requis.</li>
        <li>Le champ Mot de passe est requis.</li>
      </ul>
      <p class="mtm"><a href="#" class="btn btn-info">Demo button</a></p>
    </div>
  </div>

*/
.dismiss {
  display: block;
  position: absolute;
  top: .4em;
  right: .4em;
  width: 1.8em;
  border: 0;
  color: #fff;

  font-weight: 900;
  text-align: center;
  text-decoration: none;

  opacity: .5;
  transition: .1s opacity linear;

  &:before {
    content: '\2715';
  }

  @each $name, $values in $message {
    $hexa: message($name, base);

    .messages--#{$name} & {
      background: message($name, base);
    }
  }

  // When the user mouses over the message box, make the button more prominent
  .messages:hover & {
    opacity: 1;
  }

  // Change states when users mouseover
  &:hover,
  &:focus {
    color: #fff;
  }
}
