
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Message Dismiss
category: Components
versionning:
- version: 1.0
  update: 2019-05-10T10:00:00Z
  owner: Axel Roche
---

Ajoute une option afin de permettre la disparition du bloc message.\\
L'ajout de cette option se fait via un script Javascript.

Le code HTML ajouté est:

```html
  <button class="dismiss">
    <span class="element-invisible">Fermer le message</span>
  </button>
```

  <div role="alert" class="messages messages--info clearfix">
    <button class="dismiss"><span class="element-invisible">Fermer ce message</span></button>
    <h2 class="messages__title element-invisible">Titre du message</h2>
    <div class="messages__content">
      <p>Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul>
        <li>Le champ Nom d'utilisateur est requis.</li>
        <li>Le champ Mot de passe est requis.</li>
      </ul>
      <p class="mtm"><a href="#" class="btn btn-info">Demo button</a></p>
    </div>
  </div>

  <div role="alert" class="messages messages--warning clearfix">
    <button class="dismiss"><span class="element-invisible">Fermer ce message</span></button>
    <h2 class="messages__title element-invisible">Titre du message</h2>
    <div class="messages__content">
      <p>Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul>
        <li>Le champ Nom d'utilisateur est requis.</li>
        <li>Le champ Mot de passe est requis.</li>
      </ul>
      <p class="mtm"><a href="#" class="btn btn-warning">Demo button</a></p>
    </div>
  </div>

  <div role="alert" class="messages messages--status clearfix">
    <button class="dismiss"><span class="element-invisible">Close this message</span></button>
    <h2 class="messages__title element-invisible">Titre du message</h2>
    <div class="messages__content">
      <p>Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul>
        <li>Le champ Nom d'utilisateur est requis.</li>
        <li>Le champ Mot de passe est requis.</li>
      </ul>
      <p class="mtm"><a href="#" class="btn btn-status">Demo button</a></p>
    </div>
  </div>

  <div role="alert" class="messages messages--error clearfix">
    <button class="dismiss"><span class="element-invisible">Close this message</span></button>
    <h2 class="messages__title element-invisible">Titre du message</h2>
    <div class="messages__content">
      <p>Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul>
        <li>Le champ Nom d'utilisateur est requis.</li>
        <li>Le champ Mot de passe est requis.</li>
      </ul>
      <p class="mtm"><a href="#" class="btn btn-error">Demo button</a></p>
    </div>
  </div>

*/
.dismiss {
  display: block;
  position: absolute;
  top: .75em;
  right: .75em;
  width: 1.75em;
  border: 0;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  background: $body-color;
  color: #fff;

  opacity: .5;
  transition: .1s opacity linear;

  &:before {
    content: '\2715';
  }

  &:hover,
  &:focus {
    color: #fff;
  }
  
  .messages:hover & {
    opacity: 1;
  }

  @each $name, $values in $message {
    $hexa: message($name, base);

    .messages--#{$name} & {
      background: message($name, base);
    }
  }
}
