
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Poll - RTL
category: Module - Poll
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
  drupal: 7
---

*/
