
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Progress bar
category: Components - Progress bar
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <div class="progress" id="progress">
    <div class="bar"><div class="filled" style="width:10%"></div></div>
    <div class="percentage">
      <p class="bold">10%</p>
    </div>
    <div class="message">
      <p>Message progressive</p>
    </div>
  </div>
```

*/

.progress {

  .bar {
    border-radius: .25rem;
    border: 1px solid $color-grey-lighter;
    background: #fff;
  }

  .filled {
    height: 1.5em;
    width: 5px;
    border-radius: .25rem 0 0 .25rem;
    background: coloriz(default, base);
  }

  .percentage {
    float: right; /* LTR */
  }

  .message {
    min-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    font-size: 80%;
  }
}
