
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: File Manager
category: Module
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
  drupal: 7
---

<!-- examples -->

<!-- exampleFor: "File Manager" -->

```html
  <div class="form-item form-type--managed-file">
    <label for="field-image-upload">Ajouter un nouveau fichier </label>
    <div class="image-widget form-managed-file clearfix">
      <div class="image-widget-data">
        <input type="file" id="field-image-upload" name="files[field_image]" size="22" class="form-file"><button value="Transférer" type="submit" class="btn btn--default btn--submit form-submit">Transférer <span></span></button>
      </div>
    </div>
    <small class="description show">Les fichiers doivent peser moins de <strong>2 Mo</strong>.<br/>Extensions autorisées : <strong>png gif jpg jpeg</strong>.</small>
  </div>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

.form-managed-file {
  white-space: nowrap;

  .btn {
    height: 32px;
    padding: 6px;
    top: 1px;
  }
}

// .form-managed-file .form-file,
// .form-managed-file .form-submit {
//   margin: 0;
// }

// .form-managed-file input.progress-disabled {
//   float: none;
//   display: inline;
// }

// .form-managed-file div.ajax-progress,
// .form-managed-file div.throbber {
//   display: inline;
//   float: none;
//   padding: 1px 5px 2px 5px;
// }

// .form-managed-file div.ajax-progress-bar {
//   display: none;
//   margin-top: 4px;
//   width: 28em;
//   padding: 0;
// }

// .form-managed-file div.ajax-progress-bar div.bar {
//   margin: 0;
// }
