
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Field
category: Module - Field
---

Default Style CSS

*/

.field {
  &-label {
    @include bold;
  }

  &--label-inline,
  &--label-above {
    margin-bottom: 0;
  }

  &--label-inline {
    // Clearfix
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .field-label {
      margin-right: rhythm(.5);
      float: left;
    }
  }

  .node &--label-inline,
  .node &--label-above {
    margin-bottom: rhythm(.5);
  }
}
