
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Field label inline
category: Module - Field
---

Default Style CSS

```html
  <div class="field field--label-inline">
    <div class="field-label">Lorem Ipsum</div>
    <div class="field-items">In faucibus feugiat urna sit amet elementum. Integer consequat rhoncus libero, in molestie augue posuere et. Phasellus ac eleifend magna. Proin vulputate dui ac justo pharetra consequat. In vel iaculis ligula.</div>
  </div>
```

*/

.field {
  &-label {
    @include bold;
  }

  &--label-inline,
  &--label-above {
    margin-bottom: 0;
  }

  &--label-inline {
    // Clearfix
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .field-label {
      margin-right: rhythm(.5);
      float: left;
    }
  }

  .node &--label-inline,
  .node &--label-above {
    margin-bottom: rhythm(.5);
  }
}

/*doc
---
title: Field label above
category: Module - Field
---

Default Style CSS

```html
  <div class="field field--label-above">
    <div class="field-label">Lorem Ipsum</div>
    <div class="field-items">In faucibus feugiat urna sit amet elementum. Integer consequat rhoncus libero, in molestie augue posuere et. Phasellus ac eleifend magna. Proin vulputate dui ac justo pharetra consequat. In vel iaculis ligula.</div>
  </div>
```

*/
