
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Node
category: Module - Node
---

Content type : **Node**

*/

.node {
  &__title {
    text-transform: uppercase;
  }

  &__link {
    border-bottom: 0;
    text-decoration: none;
    color: #{map-get($colorz, "primary")};

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid;
    }
  }

  &--table,
  &--teaser {
    padding: rhythm(1);
    margin-bottom: rhythm(1);
    background: #f5f5f5;

    .page-search & {
      background: transparent;
    }
  }

  &--unpublished {
    $type: map-get($message, "warning");
    $background: map-get($type, "color");
    background: #{lighten($background, 45%)};
  }

  &--teaser {
    &.node--sticky {
      background: #333;

      &,
      a {
        color: #fff;
      }
    }
  }
}
