
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Node
category: Module - Node
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
  drupal: 7
---

Content type : **Node**

*/

.node {
  &__title {
    text-transform: uppercase;
  }

  &__link {
    border-bottom: 0;
    text-decoration: none;
    color: coloriz(primary, base);

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid;
    }
  }

  &--table,
  &--teaser {
    padding: rhythm(1);
    margin-bottom: rhythm(1);
    background: $color-grey-lighter;

    .page-search & {
      background: transparent;
    }
  }

  &--unpublished {
    $hexa: message(warning, base);
    background: $hexa;
  }

  &--teaser {
    &.node--sticky {
      background: $body-color;

      &,
      a {
        color: #fff;
      }
    }
  }
}
