
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Block
category: Module - Block
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Default Style CSS

[Voir les différents style de blocks](../styleguide/components-_block.scss.html)

*/

.block-region {
  background: $highlight-mark-color;
  padding: 1em;
}

.block-demo-backlink {

  left: 0; /*LTR*/
  position: fixed;
  z-index: 499;
  padding: 1em;
  border-bottom: 0;
  background: message(error, base);
  color: #fff;

  &:hover,
  &:focus {
    background: message(error, dark);
    color: #fff;
  }
}
