
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Block
category: Module - Block
---

Default Style CSS

*/

.block-region {
  background: $highlight-mark-color;
  padding: 10px;
}

.block-demo-backlink {
  left: 0; /*LTR*/
  position: fixed;
  z-index: 499;
  padding: 10px;
  border-bottom: 0;
  background: #b00;
  color: #fff;

  &:hover,
  &:focus {
    background: darken(#b00, 10%);
    color: #fff;
  }
}
