
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Webform
category: Module - Webform
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Default Style CSS

```html
  <div class="webform-progressbar">
    <div class="clearfix">
      <ul class="list-none clearfix mvn">
        <li class="webform-progressbar__item step current completed" style="width: 25%"><span class="webform-progressbar__label">Panel 1</span></li>
        <li class="webform-progressbar__item step current completed" style="width: 25%"><span class="webform-progressbar__label">Panel 2</span></li>
        <li class="webform-progressbar__item step current" style="width: 25%"><span class="webform-progressbar__label">Panel 3</span></li>
        <li class="webform-progressbar__item" style="width: 25%"><span class="webform-progressbar__label">Complete</span></li>
      </ul>
    </div>
    <div class="webform-progressbar-number">
      <p class="bold">Page 2 of 4 <small class="webform-progressbar-percent">(33%)</small></p>
    </div>
  </div>
```

*/

@media (min-width: 768px) {
  .form-item.webform-container-inline {
    @include form-item-inline($input-height);
  }
}

.webform-progressbar {
  margin: rhythm(1) 0;

  &-number {
    margin: rhythm(.5) 0;
    text-align: center;
  }

  ul {
    // overflow: hidden;
    counter-reset: step;
  }

  li {
    list-style: none;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: counter(step);
      counter-increment: step;
      display: inline-block;
      position: relative;
      z-index: 2;
      width: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 3px;
      font-size: 80%;
    }

    &:first-child:after {
      content: none;
    }

    &:after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      top: 9px;
      left: -50%;
      z-index: 1;
    }

    &:before,
    &:after {
      background: #fff;
      color: $body-color;
    }

    &.step {
      color: coloriz(default, base);

      &:before,
      &:after {
        background: coloriz(default, base);
        color: #fff;
      }
    }

    &.current {
      @include bold;
      &:before {
        margin-top: -3px;
        width: 2em;
        height: 2em;
        line-height: 2;
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    li {
      width: 100% !important;
      border-top: 1px solid $color-grey-lighter;
      padding-top: 5px;
      margin-top: 5px;

      &:first-child {
        border-top: 0;
      }

      &:before {
        margin-right: .5em;
      }

      &:after {
        display: none;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    li {
      float: left;
      text-align: center;

      &:before {
        display: block;
        margin: 0 auto 5px;
      }
    }
  }
}

/*doc
---
title: Webform confirmation
category: Module - Webform
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Page de confirmation après la soumission d'un formulaire.

```html
  <div class="webform-confirmation frame text-center">
    <div class="webform-confirmation__inner">
      <h2>Thanks</h2>
      <p>Thank you, your submission has been received.<br/>
      We will process your request as soon as possible.</p>
    </div>

    <div class="frame__action ">
      <a class="btn btn--secondary" href="#"><span class="fa fa-caret-left prs" aria-hidden="true"></span> Go back to the form</a>
    </div>
  </div>
```

*/

.webform-confirmation {
  padding: 1.5em;
  border: 1px solid $color-grey-lighter;
}

/* */

.webform-container-inline {
  > div,
  > .form-item {
    display: inline-block;
  }

  .description { display: block; }

  // scss-lint:disable QualifyingElement
  div.ajax-progress-bar div { display: inherit; }
  // scss-lint:enable QualifyingElement
}

/*doc
---
title: Webform action buttons
category: Module - Webform
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Buttons côte à côte.

```html
<div class="form-actions">
  <button class="webform-previous btn btn--primary btn--submit" name="op" value="Page précédente" type="submit"><span class="fa fa-caret-left prs" aria-hidden="true"></span> Page précédente</button>
  <button class="btn btn--default btn--submit" name="op" value="Submit" type="submit">Envoyer <span class="fa fa-envelope pls" aria-hidden="true"></span></button>
</div>
```

*/

.webform-next,
.webform-previous + button {
  float: right;
}

.webform-previous {
  $background: coloriz(secondary, base);
  @include btn-theme(#fff, $background);
}

.webform-next {
  $background: coloriz(default, base);
  @include btn-theme(#fff, $background);
}

.webform-submit {
  $background: coloriz(primary, base);
  @include btn-theme(#fff, $background);
}
