
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Webform - RTL
category: Module - Webform
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

*/

.webform-progressbar {
  li {
    &:after {
      left: auto;
      right: -50%;
    }
  }

  @media (max-width: $screen-sm-min) {
    li {
      &:before {
        margin-left: .5em;
        margin-right: 0;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    li {
      float: right;
    }
  }
}

/* */

.webform-next,
.webform-previous + button {
  float: left;
}
