
/*doc
---
title: Footer
category: Layout - Layer
---

```html_example

  <div class="contentinfo">
    <footer id="contentinfo" role="contentinfo" class="container clearfix">
      <div class="row">
        ...
      </div>
    </footer>
  </div>

```

*/

.contentinfo {
  background: #f2f2f2;
}
