
/*doc
---
title: Navigation
category: Layout - Layer
---

```html_example

  <div class="navigation">
    <nav id="navigation" role="navigation" class="container clearfix">
      ...
    </nav>
  </div>

```

*/

/*doc
---
title: Primary menu
category: Layout - Menu
---

```html_example

  <div od="block-system-main-menu">
    <ul class="menu">
      <li class="menu__item menu__item--hasmenu"><a class="menu__link" href="#">About</a></li><li class="menu__item"><a class="menu__link" href="#">Works</a><ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Work 1</a></li><li class="menu__item"><a class="menu__link" href="#">Work 2</a></li><li class="menu__item"><a class="menu__link" href="#">Work 3</a></li><li class="menu__item"><a class="menu__link" href="#">Work 4</a></li>
    </ul></li><li class="menu__item"><a class="menu__link" href="#">Services</a></li><li class="menu__item"><a class="menu__link" href="#">Portfolio</a></li><li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    </ul>
  </div>

```

*/

.navigation {
  background: #{map-get($colorz, "default")};

  .menu {
    a {
      padding: .5em 1em;
      background: #{map-get($colorz, "default")};
      color: #fff;
      transition: background 0.3s ease;

      &:hover,
      &:focus,
      &:active {
        background: #fff;
        color: #{map-get($colorz, "default")};
      }
    }

    a.active,
    li.active-trail > a {
      background: #{map-get($colorz, "primary")};
      color: #fff;
    }

    li.expanded > a,
    li.collapsed > a {
      padding-right: 2em;
    }
  }
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    position: relative;
    display: block;
    padding: 10px 0;
    border-bottom: 0;
    text-decoration: none;
    font-size: 14px;
  }

  li {
    position: relative;

    li a {
      padding-left: 25px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    li li a {
      padding-left: 35px;
    }
  }

  > li > a {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }

  ul {
    display: none;
    position: absolute;
    left: -9999px;
    z-index: 30;

    > li > a {
      font-size: 12px;
      font-weight: normal;
      text-transform: none;
      z-index: 40;
    }
  }
  @include mq("small") {

    li {
      display: inline-block;
      vertical-align: middle;

      li {
        display: block;
        a,
        li a {
          padding: 5px 10px;
        }

        ul {
          top: -1px;
          left: 178px!important;
        }
      }
    }

    li:hover > ul,
    li > a:hover + ul,
    li > a:focus + ul {
      display: block;
      left: 0;
      width: 180px;
    }
  }

  @include mq("smaller") {

    li {
      li.last {
        border-bottom: 0;
      }
    }

    ul.is-opened {
      display: block;
      position: relative;
      left: 0;
    }

    .menu__item--expanded {

      &.active-trail {

        > ul {
          display: block;
          position: relative;
          left: 0;
        }
      }
    }
  }
}

@include mq("small") {
  .navigation {

    .menu {

      a {
        padding: 1em;
      }

      li {
        li {
          border-top-width: 1px;
          border-top-style: solid;
          border-right-width: 1px;
          border-right-style: solid;
          border-left-width: 1px;
          border-left-style: solid;
          border-color: #{darken(map-get($colorz, "default"), 15%)};

          &.last {
            border-bottom: 1px solid #{darken(map-get($colorz, "default"), 15%)};
          }

          a {
            padding: .5em 1em;
          }
        }
      }
    }
  }
}

@include mq("smaller") {
  .navigation {

    .col-sm-12 {
      padding-left: 0;
      padding-right: 0;
    }

    .menu {

      li {
        border-bottom: 1px solid #{darken(map-get($colorz, "default"), 15%)};

        &.first {
          border-top: 1px solid #{darken(map-get($colorz, "default"), 15%)};
        }
      }
    }
  }
}

// Expanded item menu
.menu__btn {
  position: absolute;
  top: 0; right: 0;
  z-index: 99;
  display: block;
  border: 0;
  width: 38px;
  height: 38px;
  cursor: pointer;
  border-left: 1px solid #{darken(map-get($colorz, "default"), 15%)};
  background: #{map-get($colorz, "default")};
  color: #fff;
  overflow: hidden;
  outline: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #{map-get($colorz, "secondary")};
    color: #fff;
  }

  .menu ul & {
    width: 36px;
    height: 36px;
  }

  @include mq("small") {
    display: none;
  }
}

// Toggle menu mobile first
.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  background: #f2f2f2;
  color: #{map-get($colorz, "secondary")};

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 1.75em;
    right: 1em;
    display: block;
    width: 20px;
  }

  &:after {
    height: 9px;
    border-top: 2px solid #{map-get($colorz, "secondary")};
    border-bottom: 2px solid #{map-get($colorz, "secondary")};
  }

  &:before {
    top: 1.29em;
    height: 2px;
    background: #{map-get($colorz, "secondary")};
  }

  &.is-actived {
    background: #{map-get($colorz, "secondary")};
    color: #fff;

    &:before,
    &:after {
      border: 0;
      height: 2px;
      width: 20px;
      background: #fff;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      top: 1.75em;
      transform: rotate(-45deg);
    }
  }

  @include mq("smaller") {
    + .menu { display: none; }
  }

  @include mq("small") {
    display: none;
  }
}
