
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: Contextual Links
category: Module - Contextual Links
---

Default Style CSS

*/

.contextual-links {
  display: none;
  padding-left: 0;
  margin-top: 0;
  list-style: none;
  font-size: 80%;
  border: 1px solid #ccc;
  background: #fff;

  a {
    display: block;
    border-bottom: 0;
    padding: 2px 5px;

    &:hover,
    &:focus {
      background: #ccc;
      color: #000;
    }
  }

  &-region {
    outline: none;
    position: relative;

    &-active {
      outline: 2px dashed $highlight-mark-color;
    }
  }

  &-wrapper {
    display: none;
    font-size: 90%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    // scss-lint:disable QualifyingElement
    html.js & { display: block; }
    // scss-lint:enable QualifyingElement
  }

  &-trigger {
    @include bold;
    border-bottom: 0;
    display: inline-block;
    padding: 5px 8px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    background: #d96459;

    &:hover,
    &:focus,
    &-active {
      background: $highlight-mark-color;
      color: #000;
    }
  }

  .block--locale &-wrapper {
    text-align: left;
    right: auto;
  }
}
