
// @file: _block.scss
// Blocks par défault.

/*doc
---
title: Block
category: Component
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <div class="block block--views">
    <div class="block__inner">
      <div class="block__header">
        <h2 class="block__title">Lorem Ipsum</h2>
      </div>
      <div class="block__content">
        ...
      </div>
    </div>
  </div>
```

*/

.block {
  padding: 0;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;

  &--views {
    background: #fff;
    border: 1px solid $color-grey-lighter;
  }

  &__title {
    padding-bottom: rhythm(0.5);
    border-bottom: 1px solid $color-grey-lighter;
    margin-bottom: 0;
    padding: 13px 15px;
    line-height: 1.5;
    font-weight: bold;
    color: coloriz(default, base);
    text-transform: uppercase;
  }

  &--first {
    margin-top: 0 !important;
  }

  &--last {
    margin-bottom: 0 !important;
  }
}

/*doc
---
title: Block texte
category: Component
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <div class="block block--views">
    <div class="block__inner">
      <div class="block__header">
        <h2 class="block__title">Lorem Ipsum</h2>
      </div>
      <div class="block__content">
      <div class="pam">
        <p>Vivamus pretium placerat lorem, in tempor massa convallis sit amet. Aliquam sed quam eget ligula luctus aliquam sed vitae nulla. Aliquam dui dolor.</p>
      </div>
      </div>
    </div>
  </div>
```

*/

/*doc
---
title: Block menu
category: Component
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <div class="block block--views block--menu">
    <div class="block__inner">
      <div class="block__header">
        <h2 class="block__title">Lorem Ipsum</h2>
      </div>
      <div class="block__content">
        <ul class="primary">
          <li><a href="#">Link</a></li>
          <li class="collapsed">
            <a href="#">Link collapsed</a>
            <ul>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </li>
          <li><a class="active" href="#" title="Link active (current page)">Link active</a></li>
          <li class="expanded">
            <a href="#">Link expanded</a>
            <ul>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
```

*/

.block__content ul.primary {
  display: block;
  position: relative;
}
.block__content ul.primary li {
  display: block;
  padding: 0;
  border-bottom: 1px solid $color-grey-lighter;
}
.block__content ul.primary li:last-child {
  border-bottom: 0;
}
.block__content ul.primary a,
.block__content ul.primary li > span {
  color: $body-color;
  display: block;
  line-height: 1.2em;
  padding: 12px 25px 12px 15px;
  position: relative;
  border-bottom: 0;
}
.block__content ul.primary > li.expanded > a,
.block__content ul.primary > li.expanded > span,
.block__content ul.primary > li.collapsed > a,
.block__content ul.primary > li.collapsed > span {
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
.block__content ul.primary li.collapsed>a:before,
.block__content ul.primary li.expanded>a:before {
  right: 1em;
}
.block__content ul.primary a:hover {
  // border-left: 1px solid $color-grey-lighter;
  background: coloriz(default, lighter);
}
.block__content ul.primary a:focus {
  outline: 0;
  border-left: 1px dotted coloriz(default, base);
  background: coloriz(default, lighter);
}
.block__content ul.primary a.active,
.block__content ul.primary a.active:hover {
  border-left: 2px solid coloriz(default, base);
  background: coloriz(default, lighter);
  color: $body-color;
}

.block__content ul.primary ul {
  display: block;
  position: relative;
  left: 0;
}
.block__content ul.primary a,
.block__content ul.primary li>span {
  background: #fff;
}
.block__content ul.primary ul {
  width: auto;
}
