
// @file: _breadcrumb.scss
// Fil d'Ariane.

/*doc
---
title: Fil d'Ariane
category: Components - Breadcrumb
---

Obligatoire.

* [RGAA - Critère 12.8 [AAA] Dans chaque page web, un fil d'Ariane est-il présent ?](https://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html#crit-12-8)
* [RGAA - Critère 12.9 [AAA] Dans chaque page web, le fil d'Ariane est-il pertinent ?](https://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html#crit-12-9)
* [OPQUAST - SEO - N°66 - Le site propose un fil d'Ariane.](https://checklists.opquast.com/seo/criteria/le-site-propose-un-fil-dariane)

```html

  <div class="breadcrumb clearfix" id="breadcrumb">
    <p>
      <span>You are here&nbsp;:</span>
      <a itemprop="url" href="/"><span itemprop="title">Home</span></a> ›
      <a itemprop="url" href="/"><span itemprop="title">Catégorie One</span></a> ›
      <strong class="regular">Current page title</strong>
    </p>
  </div>

```

*/

.breadcrumb {
  margin-bottom: 0;
}

/*doc
---
title: Skiplinks
category: Components - Breadcrumb
---

Obligatoire. **Affiché au `:focus`**. Le code HTML doit être inséré juste après le `<body>`.

* [ACCEDE-WEB - Mettre en place des liens d’évitement](https://www.accede-web.com/notices/html-css-javascript/12-navigation-clavier/12-2-liens-evitement/)

* [RGAA - Critère 12.11 [A] Dans chaque page web, des liens d'évitement ou d'accès rapide aux groupes de liens importants et à la zone de contenu sont-ils présents (hors cas particuliers) ?](https://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html#crit-12-11)

```html
  <p class="skiplinks" id="skiplinks">
    <a tabindex="-1" href="#navigation">Menu</a>
    <a tabindex="-1" href="#main">Contenu principal</a>
  </p>
```

*/

.skiplinks {
  margin: 0;

  a {
    position: absolute;
    left: -9999px; /* LTR */
    z-index: 2;

    &:focus,
    &:active {
      top: 0;
      left: 0; /* LTR */
      display: inline;
      padding: 5px 10px;
      background: #b00;
      color: #fff;
    }
  }
}
