
// @file: _breadcrumb.scss
// Fil d'Ariane.

/*doc
---
title: Fil d'Ariane
category: Components - Breadcrumb
notes: 
  - ([Atalan - Fil d’Ariane et accessibilité](https://blog.atalan.fr/fil-dariane-et-accessibilite-web/)
  - ([RGAA - Critère 12.8 [AAA] Dans chaque page web, un fil d'Ariane est-il présent ?](https://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html#crit-12-8))
  - ([RGAA - Critère 12.9 [AAA] Dans chaque page web, le fil d'Ariane est-il pertinent ?](https://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html#crit-12-9))
  - ([OPQUAST - SEO - N°66 - Le site propose un fil d'Ariane.](https://checklists.opquast.com/seo/criteria/le-site-propose-un-fil-dariane))
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
  drupal: 7
---

Aide à la navigation, toujours situé au même endroit, il indique la position courante de l'utilisateur, dans l’arborescence du site par rapport à la page d’accueil.

<!-- examples -->

<!-- exampleFor: "Fil d'Ariane" -->

Aide à la navigation, toujours situé au même endroit, il indique la position courante de l'utilisateur, dans l’arborescence du site par rapport à la page d’accueil.

```html
  <div class="breadcrumb clearfix" id="breadcrumb">
    <p>
      <span>Vous êtes ici&nbsp;:</span>
      <a itemprop="url" href="/"><span itemprop="title">Accueil</span></a> ›
      <a itemprop="url" href="/"><span itemprop="title">Catégorie</span></a> ›
      <strong class="regular">Titre de la page en cours</strong>
    </p>
  </div>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

.breadcrumb {
  margin-bottom: 0;
}

/*doc
---
title: Skiplinks
category: Components - Skiplinks
notes: 
  - ([ACCEDE-WEB - Mettre en place des liens d’évitement](https://www.accede-web.com/notices/html-css-javascript/12-navigation-clavier/12-2-liens-evitement/))
  - ([RGAA - Critère 12.11 [A] Dans chaque page web, des liens d'évitement ou d'accès rapide aux groupes de liens importants et à la zone de contenu sont-ils présents (hors cas particuliers) ?](https://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html#crit-12-11))
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Les liens d'évitement facilitent la navigation au clavier, ils sont visibles lorsque la touche <kbd>tab</kbd> est utilisée.  
**Ils sont obligatoire.**

Le code HTML doit être inséré juste après le `<body>` pour être efficace.

<!-- examples -->

<!-- exampleFor: "Liens d'évitement" -->

```html
  <p class="skiplinks" id="skiplinks">
    <a href="#navigation">Menu</a>
    <a href="#main">Contenu principal</a>
  </p>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

.skiplinks {
  margin: 0;

  a {
    position: absolute;
    left: -9999px; /* LTR */
    z-index: 2;

    &:focus,
    &:active {
      top: 0;
      left: 0; /* LTR */
      display: inline;
      padding: 5px 10px;
      background: #b00;
      color: #fff;
    }
  }
}
