
// @file: _button.scss
// Boutons par défault.

/*doc
---
title: Button
category: Components - Buttons
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

* Base button style.
* Use `.btn` CSS class.
* Use `a` or `button` tag.

```html
  <button class="btn">Submit</button>
  <span class="btn">Submit</span>
  <a href="#" class="btn">Submit</a>
  <input id="submit" name="submit" class="btn" type="submit" value="Submit" />
```

*/

.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: visible;
  padding: rhythm(.5) rhythm(1);
  margin: 0;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  background-clip: padding-box;
  background-color: $color-grey-lightest;
  color: $body-color;
  border-radius: 0;
  // white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition-timing-function: ease-in;
  transition-property: background-color;
  transition-duration: .250s;
  appearance: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    text-decoration: none;
    background-color: $color-grey-lighter;
    color: #fff;
  }

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

/*doc
---
title: Buttons Colorz
category: Components - Buttons
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Couleurs disponibles.

* `.btn` - Bouton de base
* `.btn--default` - Couleur défault
* `.btn--primary` - Couleur primaire
* `.btn--secondary` - Couleur secondaire

  <button class="btn">btn</button>
  <span class="btn">btn</span>
  <a href="#" class="btn">btn</a>
  <input id="submit" name="submit" class="btn" type="submit" value="btn" />
  <br />

  <button class="btn btn--default">btn--default</button>
  <span class="btn btn--default">btn--default</span>
  <a href="#" class="btn btn--default">btn--default</a>
  <input id="submit" name="submit" class="btn btn--default" type="submit" value="btn--default" />
  <br />

  <button class="btn btn--primary">btn--primary</button>
  <span class="btn btn--primary">btn--primary</span>
  <a href="#" class="btn btn--primary">btn--primary</a>
  <input id="submit" name="submit" class="btn btn--primary" type="submit" value="btn--primary" />
  <br />

  <button class="btn btn--secondary">btn--secondary</button>
  <span class="btn btn--secondary">btn--secondary</span>
  <a href="#" class="btn btn--secondary">btn--secondary</a>
  <input id="submit" name="submit" class="btn btn--secondary" type="submit" value="btn--secondary" />

*/

@each $name, $color in $colors {
  $hexa: coloriz($name, base);
  .btn--#{$name} {
    @include btn-theme(#fff, $hexa);
  }
}

.btn--edit-submit {
  $hexa: coloriz(primary, base);
  @include btn-theme(#fff, $hexa);
}

.btn--edit-add {
  $hexa: message(status, base);
  @include btn-theme(#fff, $hexa);
}

.btn--edit-preview {
  $hexa: message(info, base);
  @include btn-theme(#fff, $hexa);
}

.btn--edit-delete {
  $hexa: message(error, base);
  @include btn-theme(#fff, $hexa);
}

/*doc
---
title: Buttons Outline Colorz
category: Components - Buttons
versionning:
- version: 1.0
  update: 2018-12-23T10:00:00Z
  owner: Axel Roche
---

Couleurs disponibles.

* `.btn` - Bouton de base
* `.btn--outline--default` - Couleur défault
* `.btn--outline--primary` - Couleur primaire
* `.btn--outline--secondary` - Couleur secondaire

  <div class="background--primary">
    <button class="btn btn--outline--white">btn--outline--white</button>
    <span class="btn btn--outline--white">btn--outline--white</span>
    <a href="#" class="btn btn--outline--white">btn--outline--white</a>
    <input id="submit" name="submit" class="btn btn--outline--white" type="submit" value="btn--outline--white" />
  </div>
  <br />

  <button class="btn btn--outline--default">btn--outline--default</button>
  <span class="btn btn--outline--default">btn--outline--default</span>
  <a href="#" class="btn btn--outline--default">btn--outline--default</a>
  <input id="submit" name="submit" class="btn btn--outline--default" type="submit" value="btn--outline--default" />
  <br />

  <button class="btn btn--outline--primary">btn--outline--primary</button>
  <span class="btn btn--outline--primary">btn--outline--primary</span>
  <a href="#" class="btn btn--outline--primary">btn--outline--primary</a>
  <input id="submit" name="submit" class="btn btn--outline--primary" type="submit" value="btn--outline--primary" />
  <br />

  <button class="btn btn--outline--secondary">btn--outline--secondary</button>
  <span class="btn btn--outline--secondary">btn--outline--secondary</span>
  <a href="#" class="btn btn--outline--secondary">btn--secondary</a>
  <input id="submit" name="submit" class="btn btn--outline--secondary" type="submit" value="btn--secondary" />

*/
@each $name, $color in $colors {
  $hexa: coloriz($name, base);
  .btn--outline--#{$name} {
    @include btn-outline($hexa);
  }
}

.btn--outline--white {
  @include btn-outline(#fff);
}


/*doc
---
title: Button actif
category: Components - Buttons
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

* `.btn--active` - Bouton état actif

```html
  <button class="btn active">btn</button>
  <span class="btn active">btn</span>
  <a href="#" class="btn active">btn</a>
  <input id="submit" name="submit" class="btn active" type="submit" value="btn" />
  <br />

  <button class="btn btn--default active">btn--default</button>
  <span class="btn btn--default active">btn--default</span>
  <a href="#" class="btn btn--default active">btn--default</a>
  <input id="submit" name="submit" class="btn btn--default active" type="submit" value="btn--default" />
  <br />

  <button class="btn btn--primary active">btn--primary</button>
  <span class="btn btn--primary active">btn--primary</span>
  <a href="#" class="btn btn--primary active">btn--primary</a>
  <input id="submit" name="submit" class="btn btn--primary active" type="submit" value="btn--primary" />
  <br />

  <button class="btn btn--secondary active">btn--secondary</button>
  <span class="btn btn--secondary active">btn--secondary</span>
  <a href="#" class="btn btn--secondary active">btn--secondary</a>
  <input id="submit" name="submit" class="btn btn--secondary active" type="submit" value="btn--secondary" />
```

*/

/*doc
---
title: Button désactivé
category: Components - Buttons
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

* `.btn--disabled` - Bouton désactivé

```html
  <button class="btn btn--disabled">btn</button>
  <span class="btn btn--disabled">btn</span>
  <a href="#" class="btn btn--disabled">btn</a>
  <input id="submit" name="submit" class="btn btn--disabled" type="submit" value="btn" />
  <br />

  <button class="btn btn--default btn--disabled">btn--default</button>
  <span class="btn btn--default btn--disabled">btn--default</span>
  <a href="#" class="btn btn--default btn--disabled">btn--default</a>
  <input id="submit" name="submit" class="btn btn--default btn--disabled" type="submit" value="btn--default" />
  <br />

  <button class="btn btn--primary btn--disabled">btn--primary</button>
  <span class="btn btn--primary btn--disabled">btn--primary</span>
  <a href="#" class="btn btn--primary btn--disabled">btn--primary</a>
  <input id="submit" name="submit" class="btn btn--primary btn--disabled" type="submit" value="btn--primary" />
  <br />

  <button class="btn btn--secondary btn--disabled">btn--secondary</button>
  <span class="btn btn--secondary btn--disabled">btn--secondary</span>
  <a href="#" class="btn btn--secondary btn--disabled">btn--secondary</a>
  <input id="submit" name="submit" class="btn btn--secondary btn--disabled" type="submit" value="btn--secondary" />
```

*/

.btn[disabled],
.btn--disabled {
  opacity: .65;
  cursor: not-allowed;
  pointer-events: none;
}

.btn--wrap-normal {
  white-space: normal;
}

.btn--block {
  display: block;
  width: 100%;
}

// [TODO] Vérifier si ce changement tient dans le temps
// .btn--submit + #edit-cancel {
.btn--submit + a {
  display: inline-block;
  margin-left: 20px; /* LTR */
  margin-top: 20px;
}
