
// @file: _button.scss
// Boutons par défault.

/*doc
---
title: Button
category: Components
versionning:
- version: 1.0
  update: 2019-05-01T10:00:00Z
  owner: Axel Roche
components:
  block: btn
  modifiers:
    - id: Colors
      items:
      - title: Message d'information
        class: btn--default
      - title: Message d'information
        class: btn--primary
      - title: Message d'information
        class: btn--secondary
      - title: Message d'information
        class: btn--outline-light
      - title: Message d'information
        class: btn--outline-default
      - title: Message d'information
        class: btn--outline-primary
      - title: Message d'information
        class: btn--outline-secondary
    - id: Sizes
      items:
      - title: Message d'information
        class: btn--size-xs
      - title: Message d'information
        class: btn--size-sm
      - title: Message d'information
        class: btn--size-md
      - title: Message d'information
        class: btn--size-lg
    - id: States
      items:
      - title: Message d'information
        class: btn--active
      - title: Message d'information
        class: btn--disabled
      - title: Message d'information
        class: btn--block
---

* Base button style.
* Use `.btn` CSS class.
* Use `a` or `button` tag.

```html
  <!-- HTML Button -->
  <button class="btn">Submit</button>

  <!-- HTML Fake button -->
  <span class="btn">Submit</span>

  <!-- HTML Hyperlink -->
  <a href="#" class="btn">Submit</a>

  <!-- HTML Input submit -->
  <input name="submit" class="btn" type="submit" value="Submit" />
```

*/

.btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: visible;
  height: auto !important;
  padding: rhythm(.25) rhythm(.5) !important;
  margin: 0;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  background-clip: padding-box;
  background-color: $color-grey-lighter;
  color: $body-color;
  border-radius: .25rem;
  // white-space: nowrap;
  cursor: pointer;
  
  outline: none;
  transition-timing-function: ease-in;
  transition-property: background-color, border;
  transition-duration: .250s;

  -webkit-appearance: none;
  appearance: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    text-decoration: none;
    background-color: $body-color;
    color: #fff;
  }

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  @include mq("small") {
    padding: rhythm(.5) rhythm(.75) !important;
  }
}

/*doc
---
title: Buttons Colorz
category: Components
versionning:
- version: 1.0
  update: 2019-05-01T10:00:00Z
  owner: Axel Roche
---

Couleurs disponibles.

* `.btn` - Bouton de base
* `.btn--default` - Couleur défault
* `.btn--primary` - Couleur primaire
* `.btn--secondary` - Couleur secondaire

  <button class="btn btn--default">btn--default</button>
  <span class="btn btn--default">btn--default</span>
  <a href="#" class="btn btn--default">btn--default</a>
  <input name="submit" class="btn btn--default" type="submit" value="btn--default" />
  <br />

  <button class="btn btn--primary">btn--primary</button>
  <span class="btn btn--primary">btn--primary</span>
  <a href="#" class="btn btn--primary">btn--primary</a>
  <input name="submit" class="btn btn--primary" type="submit" value="btn--primary" />
  <br />

  <button class="btn btn--secondary">btn--secondary</button>
  <span class="btn btn--secondary">btn--secondary</span>
  <a href="#" class="btn btn--secondary">btn--secondary</a>
  <input name="submit" class="btn btn--secondary" type="submit" value="btn--secondary" />

*/

@each $name, $color in $colors {
  $hexa: coloriz($name, base);
  .btn--#{$name} {
    @include btn-theme(#fff, $hexa);
  }
}

.btn--edit-submit {
  $hexa: coloriz(primary, base);
  @include btn-theme(#fff, $hexa);
}

.btn--edit-add {
  $hexa: message(status, base);
  @include btn-theme(#fff, $hexa);
}

.btn--edit-preview {
  $hexa: message(info, base);
  @include btn-theme(#fff, $hexa);
}

.btn--edit-delete {
  $hexa: message(error, base);
  @include btn-theme(#fff, $hexa);
}

/*doc
---
title: Buttons Outline Colorz
category: Components
versionning:
- version: 1.0
  update: 2018-12-23T10:00:00Z
  owner: Axel Roche
---

Couleurs disponibles.

* `.btn` - Bouton de base
* `.btn--outline--default` - Couleur défault
* `.btn--outline--primary` - Couleur primaire
* `.btn--outline--secondary` - Couleur secondaire

  <div class="primary-background pal mvl">
    <button class="btn btn--outline--light">btn--outline--light</button>
    <span class="btn btn--outline--light">btn--outline--light</span>
    <a href="#" class="btn btn--outline--light">btn--outline--light</a>
    <input name="submit" class="btn btn--outline--light" type="submit" value="btn--outline--light" />
  </div>

  <button class="btn btn--outline--default">btn--outline--default</button>
  <span class="btn btn--outline--default">btn--outline--default</span>
  <a href="#" class="btn btn--outline--default">btn--outline--default</a>
  <input name="submit" class="btn btn--outline--default" type="submit" value="btn--outline--default" />
  <br />

  <button class="btn btn--outline--primary">btn--outline--primary</button>
  <span class="btn btn--outline--primary">btn--outline--primary</span>
  <a href="#" class="btn btn--outline--primary">btn--outline--primary</a>
  <input name="submit" class="btn btn--outline--primary" type="submit" value="btn--outline--primary" />
  <br />

  <button class="btn btn--outline--secondary">btn--outline--secondary</button>
  <span class="btn btn--outline--secondary">btn--outline--secondary</span>
  <a href="#" class="btn btn--outline--secondary">btn--secondary</a>
  <input name="submit" class="btn btn--outline--secondary" type="submit" value="btn--secondary" />

*/
@each $name, $color in $colors {
  $hexa: coloriz($name, base);
  .btn--outline--#{$name} {
    @include btn-outline($hexa);
  }
}

.btn--outline--light {
  @include btn-outline(#fff, 'light');
}

/*doc
---
title: Button states
category: Components
versionning:
- version: 1.0
  update: 2019-05-01T10:00:00Z
  owner: Axel Roche
---

<!-- examples -->

<!-- exampleFor: "Bouton block" -->

* `.btn--block` - Bouton block

```html
  <button class="btn btn--block">btn</button>

  <button class="btn btn--default btn--block">btn--default</button>

  <button class="btn btn--primary btn--block">btn--primary</button>

  <button class="btn btn--secondary btn--block">btn--secondary</button>
```
<!-- /exampleFor -->

<!-- exampleFor: "Bouton actif" -->

* `.btn--active` - Bouton état actif

```html
  <button class="btn active">btn</button>
  <span class="btn active">btn</span>
  <a href="#" class="btn active">btn</a>
  <input name="submit" class="btn active" type="submit" value="btn" />
  <br />

  <button class="btn btn--default active">btn--default</button>
  <span class="btn btn--default active">btn--default</span>
  <a href="#" class="btn btn--default active">btn--default</a>
  <input name="submit" class="btn btn--default active" type="submit" value="btn--default" />
  <br />

  <button class="btn btn--primary active">btn--primary</button>
  <span class="btn btn--primary active">btn--primary</span>
  <a href="#" class="btn btn--primary active">btn--primary</a>
  <input name="submit" class="btn btn--primary active" type="submit" value="btn--primary" />
  <br />

  <button class="btn btn--secondary active">btn--secondary</button>
  <span class="btn btn--secondary active">btn--secondary</span>
  <a href="#" class="btn btn--secondary active">btn--secondary</a>
  <input name="submit" class="btn btn--secondary active" type="submit" value="btn--secondary" />
```

<!-- /exampleFor -->

<!-- exampleFor: "Bouton désactivé" -->

* `.btn--disabled` - Bouton désactivé

```html
  <button class="btn btn--disabled">btn</button>
  <span class="btn btn--disabled">btn</span>
  <a href="#" class="btn btn--disabled">btn</a>
  <input name="submit" class="btn btn--disabled" type="submit" value="btn" />
  <br />

  <button class="btn btn--default btn--disabled">btn--default</button>
  <span class="btn btn--default btn--disabled">btn--default</span>
  <a href="#" class="btn btn--default btn--disabled">btn--default</a>
  <input name="submit" class="btn btn--default btn--disabled" type="submit" value="btn--default" />
  <br />

  <button class="btn btn--primary btn--disabled">btn--primary</button>
  <span class="btn btn--primary btn--disabled">btn--primary</span>
  <a href="#" class="btn btn--primary btn--disabled">btn--primary</a>
  <input name="submit" class="btn btn--primary btn--disabled" type="submit" value="btn--primary" />
  <br />

  <button class="btn btn--secondary btn--disabled">btn--secondary</button>
  <span class="btn btn--secondary btn--disabled">btn--secondary</span>
  <a href="#" class="btn btn--secondary btn--disabled">btn--secondary</a>
  <input name="submit" class="btn btn--secondary btn--disabled" type="submit" value="btn--secondary" />
```

<!-- /exampleFor -->

<!-- /examples -->

*/

.btn[disabled],
.btn--disabled {
  opacity: .65;
  cursor: not-allowed;
  pointer-events: none;
}

.btn--wrap-normal {
  white-space: normal;
}

.btn--block {
  display: block;
  width: 100%;
}

// [TODO] Vérifier si ce changement tient dans le temps
// .btn--submit + #edit-cancel {
.btn--submit + a {
  display: inline-block;
  margin-left: 20px; /* LTR */
  margin-top: 20px;
}
