
// @file: _button.scss
// Boutons par défault.

/*doc
---
title: Button
category: Components - Buttons
---

* Base button style.
* Use `.btn` CSS class.
* Use `a` or `button` tag.

```html
  <button class="btn">Submit</button>
  <input id="submit" name="submit" class="btn" type="submit" value="Submit" />
  <span class="btn">Submit</span>
  <a href="#" class="btn">Submit</a>
```

*/

.btn {
  @include bold;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: visible;
  padding: rhythm(.5) rhythm(1);
  margin: 0;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  background-clip: padding-box;
  background-color: #ebebeb;
  color: #222;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition-timing-function: ease-in;
  transition-property: background-color;
  transition-duration: .250s;
  appearance: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    text-decoration: none;
    background-color: #ccc;
    color: #fff;
  }

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

/*doc
---
title: Buttons Colorz
category: Components - Buttons
---

Couleurs disponibles.

* `.btn` - Bouton de base
* `.btn--default` - Couleur défault
* `.btn--primary` - Couleur primaire
* `.btn--secondary` - Couleur secondaire

  <button class="btn">btn</button>
  <input id="submit" name="submit" class="btn" type="submit" value="btn" />
  <span class="btn">btn</span>
  <a href="#" class="btn">btn</a>
  <br />

  <button class="btn btn--default">btn--default</button>
  <input id="submit" name="submit" class="btn btn--default" type="submit" value="btn--default" />
  <span class="btn btn--default">btn--default</span>
  <a href="#" class="btn btn--default">btn--default</a>
  <br />

  <button class="btn btn--primary">btn--primary</button>
  <input id="submit" name="submit" class="btn btn--primary" type="submit" value="btn--primary" />
  <span class="btn btn--primary">btn--primary</span>
  <a href="#" class="btn btn--primary">btn--primary</a>
  <br />

  <button class="btn btn--secondary">btn--secondary</button>
  <input id="submit" name="submit" class="btn btn--secondary" type="submit" value="btn--secondary" />
  <span class="btn btn--secondary">btn--secondary</span>
  <a href="#" class="btn btn--secondary">btn--secondary</a>

*/

@each $name, $color in $colorz {
  .btn--#{$name} {
    @include btn-theme(#fff, $color);
  }
}

.btn--edit-submit {
  $background: map-get($colorz, "primary");
  @include btn-theme(#fff, $background);
}

.btn--edit-add {
  $type: map-get($message, "status");
  $background: map-get($type, "color");
  @include btn-theme(#fff, $background);
}

.btn--edit-preview {
  $type: map-get($message, "info");
  $background: map-get($type, "color");
  @include btn-theme(#fff, $background);
}

.btn--edit-delete {
  $type: map-get($message, "error");
  $background: map-get($type, "color");
  @include btn-theme(#fff, $background);
}

/*doc
---
title: Button actif
category: Components - Buttons
---

* `.btn--active` - Bouton état actif

```html
  <button class="btn active">btn</button>
  <input id="submit" name="submit" class="btn active" type="submit" value="btn" />
  <span class="btn active">btn</span>
  <a href="#" class="btn active">btn</a>
  <br />

  <button class="btn btn--default active">btn--default</button>
  <input id="submit" name="submit" class="btn btn--default active" type="submit" value="btn--default" />
  <span class="btn btn--default active">btn--default</span>
  <a href="#" class="btn btn--default active">btn--default</a>
  <br />

  <button class="btn btn--primary active">btn--primary</button>
  <input id="submit" name="submit" class="btn btn--primary active" type="submit" value="btn--primary" />
  <span class="btn btn--primary active">btn--primary</span>
  <a href="#" class="btn btn--primary active">btn--primary</a>
  <br />

  <button class="btn btn--secondary active">btn--secondary</button>
  <input id="submit" name="submit" class="btn btn--secondary active" type="submit" value="btn--secondary" />
  <span class="btn btn--secondary active">btn--secondary</span>
  <a href="#" class="btn btn--secondary active">btn--secondary</a>
```

*/

/*doc
---
title: Button désactivé
category: Components - Buttons
---

* `.btn--disabled` - Bouton désactivé

```html
  <button class="btn btn--disabled">btn</button>
  <input id="submit" name="submit" class="btn btn--disabled" type="submit" value="btn" />
  <span class="btn btn--disabled">btn</span>
  <a href="#" class="btn btn--disabled">btn</a>
  <br />

  <button class="btn btn--default btn--disabled">btn--default</button>
  <input id="submit" name="submit" class="btn btn--default btn--disabled" type="submit" value="btn--default" />
  <span class="btn btn--default btn--disabled">btn--default</span>
  <a href="#" class="btn btn--default btn--disabled">btn--default</a>
  <br />

  <button class="btn btn--primary btn--disabled">btn--primary</button>
  <input id="submit" name="submit" class="btn btn--primary btn--disabled" type="submit" value="btn--primary" />
  <span class="btn btn--primary btn--disabled">btn--primary</span>
  <a href="#" class="btn btn--primary btn--disabled">btn--primary</a>
  <br />

  <button class="btn btn--secondary btn--disabled">btn--secondary</button>
  <input id="submit" name="submit" class="btn btn--secondary btn--disabled" type="submit" value="btn--secondary" />
  <span class="btn btn--secondary btn--disabled">btn--secondary</span>
  <a href="#" class="btn btn--secondary btn--disabled">btn--secondary</a>
```

*/

.btn[disabled],
.btn--disabled {
  opacity: .65;
  cursor: not-allowed;
  pointer-events: none;
}

.btn--block {
  display: block;
  width: 100%;
}

// [TODO] Vérifier si ce changement tient dans le temps
// .btn--submit + #edit-cancel {
.btn--submit + a {
  display: inline-block;
  margin-left: 20px; /* LTR */
  margin-top: 20px;
}
