
// @file: _logo.scss
// Affichage du logo.

/*doc
---
title: Logo
category: Layout - Layer
---

Default markup. (`title` = `alt`)

```html
  <div class="logo">
    <p class="logo__inner">
      <a href="/" title="{{ site.SITE_NAME }}, {{ site.SITE_SLOGAN }} (Home)" rel="home" class="logo__link nounderline">
        <img class="logo__image" src="http://placehold.it/250x72" alt="{{ site.SITE_NAME }}, {{ site.SITE_SLOGAN }} (Home)">
        <span class="logo__content inbl amiddle pls">
          <span class="logo__name h4 caps show mvn">{{ site.SITE_NAME }}</span>
          <span class="logo__slogan show">{{ site.SITE_SLOGAN }}</span>
        </span>
      </a>
    </p>
  </div>
```

*/

.logo {
  &__name {
    @include bold;
    margin: 0;
    text-transform: uppercase;
    font-size: 150%;
  }

  &__name,
  &__slogan {
    display: block;
  }

  &__image {
    width: 55px;
  }

  &__link {
    border-bottom: 0;
  }

  @include mq("smaller") {
    &__content {
      margin-top: 1em;
      display: block;
    }
  }

  @include mq("small") {
    &__link {
      display: table;
    }

    &__content {
      display: table-cell;
      vertical-align: middle;
    }

    &__image + &__content {
      padding-left: 1em; /* LTR */
    }
  }
}
