
// @file: _menu.scss
// Style des menus.

/*doc
---
title: Menu base
category: Components - Menu base
---

```html
  <ul>
    <li><a href="#">Link</a></li>
    <li class="collapsed">
      <a href="#">Link collapsed</a>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
    <li><a href="#">Link</a></li>
    <li class="expanded">
      <a href="#">Link expanded</a>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
  </ul>
```

*/

ul li.expanded > a,
ul li.collapsed > a {
  position: relative;
  padding-right: 1em;
}

ul li.expanded > a:before,
ul li.collapsed > a:before {

  display: inline-block;
  vertical-align: middle;
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

ul li.expanded > a:before {
  content: "\f0d7";
}

ul li.collapsed > a:before {
  content: "\f0da";
}

ul li.collapsed > ul {
  display: none;
}

li a.active,
li.active-trail > a {
  color: coloriz(primary, base);
}

/*doc
---
title: Menu primaire
category: Components - Menu primaire
---

```html
  <ul class="primary">
    <li class="active"><a href="#" title="Link active (current page)">Link active</a></li>
    <li class="collapsed">
      <a href="#">Link collapsed</a>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
    <li><a href="#">Link</a></li>
    <li class="expanded">
      <a href="#">Link expanded</a>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
  </ul>
```

*/

ul.primary,
ul.primary ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
ul.primary li {
  position: relative;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: .5em;
  padding-right: .5em;
}
ul.primary > li:first-child {
  padding-left: 0;
}
ul.primary a {
  text-transform: capitalize;
  line-height: 2.75em;
  display: block;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 0;
  border-bottom: 2px solid transparent;
  color: $body-color;
}
ul.primary a:hover,
ul.primary a:focus {
  text-decoration: none;
  background-color: transparent;
  border-bottom-color: $body-color;
  color: $body-color;
}

ul.primary li.active a,
ul.primary a.active {
  font-weight: bold;
  border-bottom-color: coloriz(default, base);
  color: coloriz(default, base);
}

/* Sub menu */
ul.primary ul {
  display: none;
  position: absolute;
  width: 280px;
  left: -9999px;
  z-index: 30;
}
ul.primary li:hover > ul,
ul.primary li > a:hover + ul,
ul.primary li > a:focus + ul {
  display: block;
  left: 0;
}
ul.primary ul {
  left: .5em;
}
ul.primary ul > li {
  display: block;
}
ul.primary ul > li > a {
  padding-left: .5em;
  padding-right: .5em;
  border-bottom: 0;
  background: $body-color;
  color: #fff;
}
ul.primary ul li a:hover,
ul.primary ul li a:focus {
  text-decoration: none;
  background-color: transparent;
  border-bottom-color: $body-color;
  color: $body-color;
}

@media (max-width: $screen-xs-max) {
  .page-secondary ul.primary {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .page-secondary ul.primary > li {
    flex: 0 0 auto;
  }
}

/*doc
---
title: Menu secondaire
category: Components - Menu secondaire
---

```html
  <ul class="secondary">
    <li><a href="#">Link</a></li>
    <li class="collapsed">
      <a href="#">Link collapsed</a>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
    <li class="active"><a href="#" title="Link active (current page)">Link active</a></li>
    <li class="expanded">
      <a href="#">Link expanded</a>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
  </ul>
```

*/

ul.secondary {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
ul.secondary li {
  border-left: 1px solid $color-grey-lighter; /* LTR */
  position: relative;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding-left: .5em;
  padding-right: .3em;
}
ul.secondary > li:first-child {
  padding-left: 0;
}
ul.secondary li.collapsed > a,
ul.secondary li.expanded > a {
  padding-right: 0;
}
ul.secondary li:first-child {
  border-left: 0; /* LTR */
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: $body-color;
}
ul.secondary a:hover,
ul.secondary a:focus,
ul.secondary li:hover > a {
  text-decoration: none;
  border-bottom-color: $body-color;
  color: $body-color;
}
ul.secondary li.active a,
ul.secondary a.active {
  font-weight: bold;
  border-bottom-color: coloriz(default, base);
  color: coloriz(default, base);
}
ul.secondary li.expanded > a:before,
ul.secondary li.collapsed > a:before {
  content: "";
  display: none;
}
ul.secondary ul {
  display: none;
}
