
// @file: _message.scss
// Messages affichés aux utilisateurs.

/*doc
---
title: Message
category: Components - Messages
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
components:
  block: messages
  modifiers:
    - id: Types
      items:
        - title: Message d'information
          class: messages--info
        - title: Message warning
          class: messages--warning
        - title: Message error
          class: messages--error
        - title: Message de succès
          class: messages--status
    - id: Icones
      items:
        - title: Ajouter un icone
          class: messages--icon
---

Message d'avertissement délivré par Drupal.

<!-- examples -->

<!-- exampleFor: "Message" -->

```html
  <div role="alert" class="messages">
    <h2 class="messages__title hide">Message</h2>
    <div class="messages__content">
      <p>Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul>
        <li>Le champ Nom d'utilisateur est requis.</li>
        <li>Le champ Mot de passe est requis.</li>
      </ul>
      <p class="mt-3"><a href="#" class="btn">Demo button</a></p>
    </div>
  </div>
```

<!-- /exampleFor -->

<!-- /examples -->

*/
.messages {
  position: relative;
  min-height: $base-line-height * 4;
  padding: 1.5em;
  margin-top: rhythm(1); /* LTR */
  border-radius: .25em;
  border-left: .5em solid; /* LTR */
  background: $color-grey-lighter;

  p,
  ul,
  &:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    @include bold;

    &:not(.btn):hover,
    &:not(.btn):focus,
    &:not(.btn):active {
      color: inherit;
    }

    &:focus {
      outline: 2px dotted $color-grey-light;
      outline-offset: 2px;
    }
  }

  &__title,
  ul {
    margin: 0;
  }

  &__content {
    position: relative;
  }

  @include mq("small") {
    border-left-width: 1em; /* LTR */

    &--icon {

      // scss-lint:disable SelectorFormat
      .messages__content {
        position: relative;
        padding-left: 4.5em; /* LTR */

        &:before {

          display: inline-block;
          vertical-align: middle;
          font-family: "FontAwesome";
          font-weight: normal;
          font-style: normal;
          line-height: 1;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          position: absolute;
          top: 0;
          left: 0; /* LTR */
          font-size: 3em;
        }
      }
      // scss-lint:enable SelectorFormat
    }
  }

  @each $name, $values in $message {
    $hexa: message($name, base);

    &--#{$name} {
      border-color: $hexa;
      background: message($name, light);

      a:not(.btn) {
        color: $hexa;

      }

      a:focus {
        outline: 2px dotted $hexa;
        outline-offset: 2px;
      }

      @include mq("small") {
        // scss-lint:disable SelectorFormat
        &.messages--icon .messages__content {
          &:before {
            content: message($name, icon);
            color: $hexa;
          }
        }
        // scss-lint:enable SelectorFormat
      }
    }
  }
}

/*doc
---
title: Buttons
category: Components - Messages
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

<!-- examples -->

<!-- exampleFor: "Message button" -->

```html
  <p class="mvs">
    <button class="btn btn-status">Success</button>
    <button class="btn btn-error">Error</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Announcement</button>
    <button class="btn pull-right">Reset</button>
  </p>
```

<!-- /exampleFor -->

<!-- /examples -->

*/


/*doc
---
title: Table message
category: Components - Messages
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

<!-- examples -->

<!-- exampleFor: "Message table" -->

```html
  <table>
    <caption>Jimi Hendrix - albums</caption>
    <thead>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="warning">
        <td>Are You Experienced</td>
        <td>1967</td>
        <td>$10.00</td>
      </tr>
      <tr class="error">
        <td>Axis: Bold as Love</td>
        <td>1967</td>
        <td>$12.00</td>
      </tr>
      <tr class="ok">
        <td>Electric Ladyland</td>
        <td>1968</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Band of Gypsys</td>
        <td>1970</td>
        <td>$12.00</td>
      </tr>
    </tbody>
  </table>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

@each $name, $values in $message {
  $hexa: message($name, base);

  $new-name: $name;
  @if $name == "status" {
    $new-name: "ok";
  }

  table tr.#{$new-name} {
    background: message($name, light);

    td {
      color: $hexa;
    }
  }
}

/*doc
---
title: Field states
category: Base - Forms
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Afficher l'erreur d'un champs de formulaire.

<!-- examples -->

<!-- exampleFor: "Input Erreur" -->

```html
  <form action="" id="formErrors">
    <div class="form-item has--error">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </div>
  </form>
```

<!-- /exampleFor -->

<!-- exampleFor: "Input Success" -->

```html
  <form action="" id="formErrors">
    <div class="form-item has--status">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input class="field-txt status" name="email" type="email" required="required" aria-required="true" />
    </div>
  </form>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

@each $name, $values in $message {
  $hexa: message($name, base);
  $hexa-dark: message($name, dark);
  $hexa-light: message($name, light);

  @if $name == "error" or $name == "status" {
    .has--#{$name} {
      @extend .text--#{$name};
    }

    .has--#{$name} {
      [type="radio"],
      [type="checkbox"] {

        + label {
          &:before {
            border-color: $hexa;
            background: $hexa-light;
          }

          &:hover:before,
          &:focus:before {
            border-color: $hexa-dark;
          }
        }

        &:focus + label:before {
          border-color: $hexa-dark;
          outline: 2px dotted $hexa-dark;
        }

        &:checked + label:before {
          border-color: $hexa-dark;
          background: $hexa-dark;
        }
      }
    }

    .has--#{$name} input,
    .has--#{$name} select,
    .has--#{$name} textarea {
      border-left-width: 4px; /* LTR */
      @if $hexa {
        border-color: $hexa;

        &:focus {
          outline: 2px dotted $hexa;
          outline-offset: 3px;
        }
      }
    }
  }

  // Generated btn message
  .btn-#{$name} {
    background-color: $hexa;
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    &.active {
      text-decoration: none;
      background-color: $hexa-dark;
      color: #fff;
    }

    &:focus {
      outline: 2px dotted $hexa-dark;
      outline-offset: 2px;
    }
  }
}

/*doc
---
title: Texte alerte
category: Components - Messages
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

<!-- examples -->

<!-- exampleFor: "Texte alerte" -->

```html
  <p class="text text--muted my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, magni voluptatum, earum porro asperiores, quam quos dolorum quia quae quod laborum consequuntur. Laboriosam voluptates ex minus quidem a non officiis.</p>
  <p class="text text--info my-0">Lorem ipsum dolor sit amet.</p>
  <p class="text text--error my-0">Lorem ipsum dolor sit amet.</p>
  <p class="text text--warning my-0">Lorem ipsum dolor sit amet.</p>
  <p class="text text--status my-0">Lorem ipsum dolor sit amet.</p>
```

<!-- /exampleFor -->

<!-- exampleFor: "Texte alerte icons" -->

Combine `.text` with `.text--icon` and icon `.i-info`

```html
  <p class="text text--muted my-0 text--icon i-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, magni voluptatum, earum porro asperiores, quam quos dolorum quia quae quod laborum consequuntur. Laboriosam voluptates ex minus quidem a non officiis.</p>
  <p class="text text--info my-0 text--icon i-info">Lorem ipsum dolor sit amet.</p>
  <p class="text text--error my-0 text--icon i-error">Lorem ipsum dolor sit amet.</p>
  <p class="text text--warning my-0 text--icon i-warning">Lorem ipsum dolor sit amet.</p>
  <p class="text text--status my-0 text--icon i-check">Lorem ipsum dolor sit amet.</p>

  <p class="ok">Lorem ipsum dolor sit amet.</p>
  <p class="warning">Lorem ipsum dolor sit amet.</p>
  <p class="error">Lorem ipsum dolor sit amet.</p>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

.text {
  &--icon:before {
    margin-right: 5px; /* LTR */
  }

  &--muted {
    color: $color-grey-lighter;
  }

  @each $name, $values in $message {
    $hexa: message($name, base);
    &--#{$name} {
      color: $hexa;
    }
  }
}

// Drupal default style
.ok      { @extend .text--status; }
.warning { @extend .text--warning; }
.error   { @extend .text--error; }

/*doc
---
title: Label mark
category: Components - Label
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

* `.mark--new`
* `.mark--unpublished`
* `.mark--updated`

<!-- examples -->

<!-- exampleFor: "Label mark" -->

```html
  <p class="mvs">Lorem ipsum dolor sit amet. <span class="mark mark--new">New</span></p>
  <p class="mvs">Lorem ipsum dolor sit amet. <span class="mark mark--error">Updated</span></p>
  <p class="mvs">Lorem ipsum dolor sit amet. <span class="mark mark--updated">Updated</span></p>
  <p class="mvs">Lorem ipsum dolor sit amet. <span class="mark mark--unpublished">Unpublished</span></p>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

.mark--new {
  $hexa: message(status, base);
  background: $hexa;
  color: #fff;
}
.mark--error {
  $hexa: message(error, base);
  background: $hexa;
  color: #fff;
}
.mark--unpublished {
  $hexa: message(warning, base);
  background: $hexa;
  color: #fff;
}
.mark--updated {
  $hexa: message(info, base);
  background: $hexa;
  color: #fff;
}
