
// @file: _message.scss
// Messages affichés aux utilisateurs.

/*doc
---
title: Message
category: Components - Messages
---

Message d'avertissement délivré par Drupal.

  <div role="alert" class="messages messages--info messages--icon clearfix">
    <h2 class="messages__title hide">Message</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

  <div role="alert" class="messages messages--info clearfix">
    <h2 class="messages__title hide">Message</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

*/

/*doc
---
title: Message error
category: Components - Messages
---

Modifier `.messages--error` && `.messages--icon`

  <div role="alert" class="messages messages--error messages--icon clearfix">
    <h2 class="messages__title hide">Message d'erreur</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a><br />
      Nous vous recommadons de vérifier les données.</p>
    </div>
  </div>

  <div role="alert" class="messages messages--error clearfix">
    <h2 class="messages__title hide">Message d'erreur</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a><br />
      Nous vous recommadons de vérifier les données.</p>
    </div>
  </div>

*/

/*doc
---
title: Message success
category: Components - Messages
---

Modifier `.messages--status` && `.messages--icon`

  <div role="alert" class="messages messages--status messages--icon clearfix">
    <h2 class="messages__title hide">Message succès</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

  <div role="alert" class="messages messages--status clearfix">
    <h2 class="messages__title hide">Message succès</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

*/

/*doc
---
title: Message warning
category: Components - Messages
---

Modifier `.messages--warning` && `.messages--icon`

```html
  <div role="alert" class="messages messages--warning messages--icon clearfix">
    <h2 class="messages__title hide">Message d'alerte</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>

  <div role="alert" class="messages messages--warning clearfix">
    <h2 class="messages__title hide">Message d'alerte</h2>
    <div class="messages__content">
      <p class="messages__description">Nous avons trouver des erreurs, <a href="#">lien texte</a></p>
      <ul class="messages__list">
        <li class="messages__item">Le champ Nom d'utilisateur est requis.</li>
        <li class="messages__item">Le champ Mot de passe est requis.</li>
      </ul>
    </div>
  </div>
```

*/

.messages {
  min-height: $base-line-height * 4;
  padding: 1.5em;
  margin: 0 0 rhythm(1); /* LTR */
  border-left: 1.5em solid; /* LTR */
  background: #ccc;

  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    @include bold;

    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }

  &__title,
  &__list {
    margin: 0;
  }

  &__content {
    position: relative;
  }

  &--icon {

    // scss-lint:disable SelectorFormat
    .messages__content {
      position: relative;
      padding-left: 4.5em; /* LTR */

      &:before {

        display: inline-block;
        vertical-align: middle;
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        position: absolute;
        top: 0;
        left: 0; /* LTR */
        font-size: 3em;
      }
    }
    // scss-lint:enable SelectorFormat
  }

  @each $name, $values in $message {
    $icon: map-get($values, "icon");
    $background: map-get($values, "color");

    &--#{$name} {
      border-color: $background;
      background: lighten($background, 45%);

      a {
        color: $background;
      }

      // scss-lint:disable SelectorFormat
      &.messages--icon .messages__content {
        &:before {
          // @extend ;
          content: $icon;
          color: $background;
        }
      }

      // scss-lint:enable SelectorFormat
    }
  }
}

/*doc
---
title: Table message
category: Components - Messages
---

```html
  <table>
    <caption>Jimi Hendrix - albums</caption>
    <thead>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="warning">
        <td>Are You Experienced</td>
        <td>1967</td>
        <td>$10.00</td>
      </tr>
      <tr class="error">
        <td>Axis: Bold as Love</td>
        <td>1967</td>
        <td>$12.00</td>
      </tr>
      <tr class="ok">
        <td>Electric Ladyland</td>
        <td>1968</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Band of Gypsys</td>
        <td>1970</td>
        <td>$12.00</td>
      </tr>
    </tbody>
  </table>
```

*/

@each $name, $values in $message {
  $color: map-get($values, "color");
  $new-name: #{$name};

  @if $name == "status" {
    $new-name: "ok";
  }

  table tr.#{$new-name} {
    background: lighten($color, 45%);

    td {
      color: $color;
    }
  }
}

/*doc
---
title: Field states
category: Base - Forms
---

  <form action="" id="formErrors">
    <div class="form-item has--info">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </div>
    <div class="form-item has--warning">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </div>
    <div class="form-item has--error">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </div>
    <div class="form-item has--status">
      <label for="email">Email <abbr class="field-required" title="This field is required.">*</abbr></label>
      <input aria-labelledby="error_email" class="field-txt error" name="email" type="email" required="required" aria-required="true" />
      <br /><small id="error_email"> Error 1 : Enter valid email address, eg toto@domaine.com.</small>
    </div>
  </form>

*/

@each $name, $values in $message {
  $background: map-get($values, "color");

  .has--#{$name} {
    @extend .text--#{$name};
  }

  .has--#{$name} input,
  .has--#{$name} select,
  .has--#{$name} textarea {
    border-left-width: 4px; /* LTR */
    @if map-get($values, "color") {
      border-color: map-get($values, "color");

      &:focus {
        $color-focus: map-get($values, "color");
        box-shadow: 0 0 2px $color-focus, 0 0 5px $color-focus;
      }
    } @else {
      border-color: $background;

      &:focus {
        box-shadow: 0 0 2px $background, 0 0 5px $background;
      }
    }
  }

  .btn--#{$name} {
    background-color: $background;
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    &.active {
      text-decoration: none;
      background-color: darken($background, 10%);
      color: #fff;
    }
  }
}

/*doc
---
title: Texte alerte
category: Components - Messages
---

```html
  <p class="text text--muted mvn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, magni voluptatum, earum porro asperiores, quam quos dolorum quia quae quod laborum consequuntur. Laboriosam voluptates ex minus quidem a non officiis.</p>
  <p class="text text--info mvn">Lorem ipsum dolor sit amet.</p>
  <p class="text text--error mvn">Lorem ipsum dolor sit amet.</p>
  <p class="text text--warning mvn">Lorem ipsum dolor sit amet.</p>
  <p class="text text--status mvn">Lorem ipsum dolor sit amet.</p>
```
*/

/*doc
---
title: Texte alerte icons
category: Components - Messages
---

Combine `.text` with `.text--icon` and icon `.i-info`

```html
  <p class="text text--muted mvn text--icon i-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, magni voluptatum, earum porro asperiores, quam quos dolorum quia quae quod laborum consequuntur. Laboriosam voluptates ex minus quidem a non officiis.</p>
  <p class="text text--info mvn text--icon i-info">Lorem ipsum dolor sit amet.</p>
  <p class="text text--error mvn text--icon i-error">Lorem ipsum dolor sit amet.</p>
  <p class="text text--warning mvn text--icon i-warning">Lorem ipsum dolor sit amet.</p>
  <p class="text text--status mvn text--icon i-check">Lorem ipsum dolor sit amet.</p>

  <p class="ok">Lorem ipsum dolor sit amet.</p>
  <p class="warning">Lorem ipsum dolor sit amet.</p>
  <p class="error">Lorem ipsum dolor sit amet.</p>
```

*/

.text {
  &--icon:before {
    // @extend .i;
    margin-right: 5px; /* LTR */
  }

  &--muted {
    color: #999;
  }

  @each $name, $values in $message {
    $color: map-get($values, "color");

    &--#{$name} {
      color: $color;
    }
  }
}

// Drupal default style
.ok      { @extend .text--status; }
.warning { @extend .text--warning; }
.error   { @extend .text--error; }

/* */

// [TODO]
.mark--new {
  $type: map-get($message, "error");
  background: #{map-get($type, "color")};
  color: #fff;
}

// [TODO]
.mark--unpublished {
  $type: map-get($message, "warning");
  background: #{map-get($type, "color")};
  color: #fff;
}

// [TODO]
.mark--updated {
  $type: map-get($message, "info");
  background: #{map-get($type, "color")};
  color: #fff;
}
