
// @file: _search.scss
// Block de recherche par défault.

/*doc
---
title: Search
category: Module - Search
classes_modifier:
  - 'search--small'
  - 'search--big'
---

```html
  <div id="search" class="search">
    <form class="search__form" role="search" action="/" method="post" id="search-form">
      <input title="Search by keywords" placeholder="Enter your keywords…" type="search" name="search_block_form" value="" size="30" class="search__input form-text" /><button class="search__submit btn btn--icon" title="Search on website Starter" type="submit" name="op"><span class="fa fa-search" aria-hidden="true"></span> Search</button>
    </form>
  </div>
```


*/

/*doc
---
title: Search Advanced
category: Module - Search
---

```html
  <div id="search" class="search search--advanced">
    <form class="search__form" role="search" action="/" method="post" id="search-form">
      <input title="Search by keywords" placeholder="Enter your keywords…" type="search" name="search_block_form" value="" size="30" class="search__input form-text" /><button class="search__submit btn" title="Search on website Starter" type="submit" name="op"><span class="fa fa-search" aria-hidden="true"></span> Search</button>
    </form>
  </div>
```

*/

.search--advanced {
  .btn {
    height: 4rem;
    width: 9rem;
    line-height: 1;
    font-size: 120%;

    &:before {
      content: "";
      display: none;
    }
  }

  input {
    height: 4rem;
    padding: 1rem;
    width: calc(100% - 9rem);
  }
}

.search-advanced {
  border: pem(1px) solid $color-grey-lighter;
  padding: 0 rhythm(1) rhythm(1);

  legend {
    padding: rhythm(1) rhythm(.5);
  }

  .btn {
    border-radius: 0;
    font-size: 1em;
    width: auto;
    padding: 1em;
    height: auto;
  }
}

// scss-lint:disable QualifyingElement
html.js fieldset.search-advanced { height: auto; }
// scss-lint:enable QualifyingElement

.criterion {
  &--keywords {
    .form-item {
      label {
        line-height: 1.5em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .form-text {
      height: 2rem;
    }
  }
}
