
// @file: _search.scss
// Boite de recherche par défault.

/*doc
---
title: Search
category: Module - Search
---

```html
  <div id="search" class="search">
    <form class="search__form" role="search" action="/" method="post" id="search-form">
      <input title="Search by keywords" placeholder="Enter your keywords…" type="search" name="search_block_form" value="" size="30" class="search__input form-text" /><button class="search__submit" title="Search on website Starter" type="submit" name="op"><span class="i i-search" aria-hidden="true"></span> Search</button>
    </form>
  </div>
```

*/

.search {

  .btn {
    border: 0;
    outline: none;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    max-width: 100%;
    padding: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 0;
    line-height: 1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: #{map-get($colorz, "default")};
    color: #fff;

    &:hover,
    &:focus {
      background: #{map-get($colorz, "secondary")};
    }

    &:before {
      top: 0;
      font-size: 1.4rem;
    }
  }

  &__input {
    box-sizing: border-box;
    -webkit-appearance: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: left;
    height: 2.5rem;
    margin: 0;
    padding: .5rem;
    width: calc(100% - 2.5rem);

    + .btn {
      left: -1px;
    }
  }
}

/*doc
---
title: Search Advanced
category: Module - Search
---

[TODO]

*/

.search--advanced {
  .btn {
    height: 3rem;
    width: 9rem;
    line-height: 1;
    font-size: 120%;

    &:before {
      content: "";
      display: none;
    }
  }

  // scss-lint:disable SelectorFormat
  .search__input {
    height: 3rem;
    padding: 1rem;
    width: calc(100% - 9rem);
  }
  // scss-lint:enable SelectorFormat
}

.search-advanced {
  border: pem(1px) solid #ccc;
  padding: 0 rhythm(1) rhythm(1);

  legend {
    padding: rhythm(1) rhythm(.5);
  }

  .btn {
    border-radius: 0;
    font-size: 1em;
    width: auto;
    padding: 1em;
    height: auto;
  }
}

// scss-lint:disable QualifyingElement
html.js fieldset.search-advanced { height: auto; }
// scss-lint:enable QualifyingElement

.criterion {
  &--keywords {
    .form-item {
      label {
        line-height: 1.5em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .form-text {
      height: 2rem;
    }
  }
}
