
/*doc
---
title: Aside
category: Layout - Layer
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Combine `.aside` with the modifier `.aside--right`

```html
  <div class="complementary aside">
    <aside id="complementary" role="complementary">
      ...
    </aside>
  </div>
```

*/

.aside {
  @include mq("smaller") {
    margin-bottom: 1.5em;
  }
}
