
/*doc
---
title: Contentinfo
category: Layout - Footer
---

```html
  <div class="page-contentinfo contentinfo">
    <footer id="contentinfo" role="contentinfo" class="container">
      <div class="row">
        ...
      </div>
    </footer>
  </div>
```

*/

.page-contentinfo {
  background: #161324;
  color: #fff;
}

.page-contentinfo a {
  color: #fff;
}

.page-contentinfo a:hover,
.page-contentinfo a:focus {
  color: inherit;
}
