
/*doc
---
title: Contentinfo
category: Layout - Footer
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <div class="page-contentinfo contentinfo">
    <footer id="contentinfo" role="contentinfo" class="container">
      <div class="row">
        ...
      </div>
    </footer>
  </div>
```

*/

.page-contentinfo {
  background: coloriz(primary, base);
  color: #fff;
}

.page-contentinfo a {
  color: #fff;
}

.page-contentinfo a:hover,
.page-contentinfo a:focus {
  color: inherit;
}
