
/*doc
---
title: Header
category: Layout - Layer
---

```html
  <div class="page-banner banner">
    <header id="banner" role="banner" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          ...logo
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="branding">
            ...menu principal
          </div>
        </div>
      </div>
    </header>
  </div>
```

*/

.banner {
  background: #{map-get($colorz, "primary")};

  &,
  a {
    color: #fff;
  }

  @include mq("smaller") {
    .col-xs-12.col-sm-8 {
      margin-top: 1em;
    }
  }
}

.branding {
  text-align: right; /* LTR */
}
