
/*doc
---
title: Header
category: Layout - Layer
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <div class="page-banner banner">
    <header id="banner" role="banner" class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          ...logo
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="branding">
            ...menu principal
          </div>
        </div>
      </div>
    </header>
  </div>
```

*/

.page-top {
  input {
    height: 1.75rem !important;
  }

  input + .btn {
    &--icon {
      height: 1.75rem !important;

      .fa {
        font-size: 1rem;
      }
    }
  }
}

.hamburger {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;
}

.banner {
  background: coloriz(primary, base);

  &,
  a {
    color: #fff;
  }

  @include mq("smaller") {
    .col-xs-12.col-sm-8 {
      margin-top: 1em;
    }
  }
}

.branding {
  text-align: right; /* LTR */
}
