
/*doc
---
title: Page
category: Layout
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

Structure de la page par défaut

```html
<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <titlte>[TITRE_DE_LA_PAGE]</title>
</head>
<body>
  [SKIPLINKS]
  <div id="page" class="page">
    [REGION_BANNER]
    [REGION_NAVIGATION]
    <div id="container" class="container clearfix">
      [REGION_ASIDE_LEFT]
      <div id="content" class="content">
        <main id="main" class="main" role="main">
          [REGION_MAIN_CONTENT]
        </main>
      </div>
      [REGION_ASIDE_RIGHT]
    </div>
    [REGION_COMPLEMENTARY]
    [REGION_CONTENTINFO]
  </div>
</body>
</html>
```

*/

.content,
.main,
.node,
.block {
  position: relative;
}

// scss-lint:disable IdSelector
.banner,
#container,
.contentinfo {
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
}
// scss-lint:enable IdSelector

/*doc
---
title: Main header
category: Layout
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

<!-- examples -->

<!-- exampleFor: "Main header avec menu" -->

```html
  <main id="main" class="main" role="main">
    <div class="main__header">
      <h1 class="main__title">Lorem ipsum dolor sit</h1>
      <ul class="primary">
        <li class="active"><a href="#">View<span class="a11y">(active tab)</span></a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="main__content">
      [CONTENT]
    </div>
  </main>
```

<!-- /exampleFor -->

<!-- exampleFor: "Main header avec description" -->

```html
  <main id="main" class="main" role="main">
    <div class="main__header">
      <h1 class="main__title">Lorem ipsum dolor sit</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
    </div>
    <div class="main__content">
      [CONTENT]
    </div>
  </main>
```

<!-- /exampleFor -->

<!-- exampleFor: "Main header avec description et menu" -->

```html
  <main id="main" class="main" role="main">
    <div class="main__header">
      <h1 class="main__title">Lorem ipsum dolor sit</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
      <ul class="primary">
        <li class="active"><a href="#">View<span class="a11y">(active tab)</span></a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="main__content">
      [CONTENT]
    </div>
  </main>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

.main {
  &__title {
    text-transform: uppercase;
    margin-bottom: 0;

    + * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__header {
    margin-bottom: rhythm(1);
    padding-bottom: rhythm(0.5);
    border-bottom: 1px solid $color-grey-lighter;
  }

  &__description{ margin-top:.25em; }
}
