
// @file: _media.scss
// Media elements helpers.

/*doc
---
title: Image Responsive
category: Base
versionning:
- version: 1.0
  update: 2018-01-27T10:00:00Z
  owner: Axel Roche
---

La classe `.img-responsive` permet de rendre une image pour s'adapter aux devices.
`.img-full` permet de rendre une image sur 100% de sa largeur.

```html
  <img alt="" class="img-responsive" src="http://lorempixel.com//825/400/animals/1" />

  <img alt="" class="img-full" src="http://lorempixel.com//825/400/animals/1" />

  <img alt="" class="img-responsive img-full" src="http://lorempixel.com//825/400/animals/1" />
```

*/

img,
svg,
object,
video {
  max-width: 100%; // to prevent overflow
  vertical-align: middle; // Supprime l'espace indésirable appraissant sous les images
  height: auto; // to keep aspect ratio
  width: auto; // bugfix IE8
}

a img,
iframe {
  border: 0; // bugfix IE8, FF3.6 (Supprime la bordure des images se trouvant dans un lien.)
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-full {
  width: 100%;
}

/*doc
---
title: Figcaption
category: Base
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <figure>
    <img src="http://lorempixel.com//825/400/animals/2" alt="Some animals image" />
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
  </figure>

  <div>
    <img src="http://lorempixel.com//825/400/animals/2" alt="Some animals image" />
    <div class="legende">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  </div>
```

*/

figcaption,
.legende {
  @include italic;
  font-size: 0.85em;
}

/*doc
---
title: Thumbnails
category: Base
versionning:
- version: 1.0
  update: 2017-12-23T10:00:00Z
  owner: Axel Roche
---

```html
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="" src="http://lorempixel.com/300/300/animals/3" />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="" src="http://lorempixel.com/300/300/animals/4" />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="" src="http://lorempixel.com/300/300/animals/5" />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img alt="" src="http://lorempixel.com/300/300/animals/6" />
      </a>
    </div>
  </div>
```

*/

/*doc
---
title: Embed Responsive
category: Base
versionning:
- version: 1.0
  update: 2018-01-27T10:00:00Z
  owner: Axel Roche
---

La classe `.wrapper-media` permet d'afficher une iframe, video en responsive.  
Il faudra ajouter une `div` wrapper autour du composant à rendre responsive.

```html
  <div class="media-wrapper">
    <iframe title="Title de la vidéo" width="1170" height="570" src="http://www.youtube.com/embed/2S79ZNV00HE" frameborder="0" allowfullscreen=""></iframe>
  </div>
```

*/

.media-wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
