
// @file: _media.scss
// Media elements helpers

/*doc
---
title: Image Responsive
category: Base - Media Elements
---

La classe `.img-responsive` permet de rendre une image sur 100% de sa largeur pour s'adapter aux devices.

```html
  <img class="img-responsive" src="http://lorempixel.com//825/400/animals/1" alt="" />
```

*/

img,
svg,
object,
video {
  max-width: 100%; // to prevent overflow
  vertical-align: middle; // Supprime l'espace indésirable appraissant sous les images
  height: auto; // to keep aspect ratio
  width: auto; // bugfix IE8
}

a img,
iframe {
  border: 0; // bugfix IE8, FF3.6 (Supprime la bordure des images se trouvant dans un lien.)
}

/*doc
---
title: Figcaption
category: Base - Media Elements
---

```html
  <figure>
    <img src="http://lorempixel.com//825/400/animals/2" alt="Some animals image" />
    <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
  </figure>
```

*/

figcaption {
  @extend .italic;
  font-size: 0.85em;
}

/*doc
---
title: Thumbnails
category: Base - Media Elements
---

```html
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/animals/3" alt="" />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/animals/4" alt="" />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/animals/5" alt="" />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/300/300/animals/6" alt="" />
      </a>
    </div>
  </div>
```

*/

/*doc
---
title: Video Responsive
category: Base - Media Elements
---

La classe `.wrapper-media` permet d'afficher une iframe, video en responsive. Il faudra ajouter une `div` global sur le composant à rendre responsive.

```html
  <div class="media-wrapper">
    <iframe title="Title de la vidéo" width="1170" height="570" src="http://www.youtube.com/embed/2S79ZNV00HE" frameborder="0" allowfullscreen=""></iframe>
  </div>
```

*/

.media-wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
