
// @file: _table.scss
// Table style

/*doc
---
title: Table
category: Table
notes:
  - ([RGAA - Critère 5.1 [A] Chaque tableau de données complexe a-t-il un résumé ?](https://references.modernisation.gouv.fr/critere-51-chaque-tableau-de-donnees-complexe-t-il-un-resume-0))
  - ([RGAA - Critère 5.3 [A] Pour chaque tableau de mise en forme, le contenu linéarisé reste-t-il compréhensible (hors cas particuliers) ?](https://references.modernisation.gouv.fr/critere-53-pour-chaque-tableau-de-mise-en-forme-le-contenu-linearise-reste-t-il-comprehensible-0))
  - ([RGAA - Critère 5.4 [A] Chaque tableau de données a-t-il un titre ?](http://references.modernisation.gouv.fr/critere-54-chaque-tableau-de-donnees-t-il-un-titre-0))
  - ([RGAA - Critère 5.5 [A] Pour chaque tableau de données ayant un titre, celui-ci est-il pertinent ?](https://references.modernisation.gouv.fr/critere-55-pour-chaque-tableau-de-donnees-ayant-un-titre-celui-ci-est-il-pertinent-0))
  - ([RGAA - Critère 5.6 [A] Pour chaque tableau de données, chaque en-tête de colonnes et chaque en-tête de lignes sont-ils correctement déclarés ?](https://references.modernisation.gouv.fr/critere-56-pour-chaque-tableau-de-donnees-chaque-en-tete-de-colonnes-et-chaque-en-tete-de-lignes-0))
  - ([RGAA - Critère 5.7 [A] Pour chaque tableau de données, la technique appropriée permettant d'associer chaque cellule avec ses en-têtes est-elle utilisée ?](https://references.modernisation.gouv.fr/critere-57-pour-chaque-tableau-de-donnees-la-technique-appropriee-permettant-dassocier-chaque-0))
  - ([RGAA - Critère 5.8 [A] Chaque tableau de mise en forme ne doit pas utiliser d'éléments propres aux tableaux de données. Cette règle est-elle respectée ?](https://references.modernisation.gouv.fr/critere-58-chaque-tableau-de-mise-en-forme-ne-doit-pas-utiliser-delements-propres-aux-tableaux-de-0))
versionning:
- version: 1.0
  update: 2019-05-01T10:00:00Z
  owner: Axel Roche
---

**Un tableau peut être contenu dans un élément portant le rôle "table".**

```html
  <div role="table">
    <table></table>
  </div>
```

Donner à chaque tableau de données complexe, **un résumé et un titre pertinent (`caption`)**,

* Identifier les cellules d'en-tête avec les balises `<thead></thead>` et `<th>` pour les cellules.
* Utiliser un mécanisme pertinent pour lier les cellules de données aux cellules d'en-tête.
* Pour chaque tableau de mise en forme, veiller à sa bonne linéarisation.

*/

/*doc
---
title: Table
category: Table
versionning:
- version: 1.0
  update: 2019-05-01T10:00:00Z
  owner: Axel Roche
---

Mise en forme par défault d'une tableau de données.

<!-- examples -->

<!-- exampleFor: "Table" -->

```html
  <table>
    <caption>Jimi Hendrix - albums</caption>
    <thead>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Are You Experienced</td>
        <td>1967</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Axis: Bold as Love</td>
        <td>1967</td>
        <td>$12.00</td>
      </tr>
      <tr>
        <td>Electric Ladyland</td>
        <td>1968</td>
        <td>$10.00</td>
      </tr>
      <tr>
        <td>Band of Gypsys</td>
        <td>1970</td>
        <td>$12.00</td>
      </tr>
    </tbody>
  </table>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

/*doc
---
title: Table Responsive
category: Table
versionning:
- version: 1.0
  update: 2019-05-01T10:00:00Z
  owner: Axel Roche
---

Faire une table responsive, ajouter un wrapper autour de l'élément `<table>`.

```html
  <div class="table-responsive" role="table">
    <table>
      ...
    </table>
  </div>
```

*/

/*doc
---
title: Table Striped
category: Table
versionning:
- version: 1.0
  update: 2019-05-01T10:00:00Z
  owner: Axel Roche
---

Mise en forme d'un tableau avec la class `.table`.

<!-- examples -->

<!-- exampleFor: "Table striped" -->

```html
  <table class="table">
    <caption>Jimi Hendrix - albums</caption>
    <thead>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
        <th>Price</th>
        <th>Price</th>
        <th>Price</th>
        </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Album</th>
        <th>Year</th>
        <th>Price</th>
        <th>Price</th>
        <th>Price</th>
        <th>Price</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Are You Experienced</td>
        <td>1967</td>
        <td>$10.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
      </tr>
      <tr>
        <td>Axis: Bold as Love</td>
        <td>1967</td>
        <td>$12.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
      </tr>
      <tr>
        <td>Electric Ladyland</td>
        <td>1968</td>
        <td>$10.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
      </tr>
      <tr>
        <td>Band of Gypsys</td>
        <td>1970</td>
        <td>$12.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
        <td>$12.00</td>
      </tr>
    </tbody>
  </table>
```

<!-- /exampleFor -->

<!-- /examples -->

*/

table {
  caption-side: top;

  &,
  &.table {
    width: 100%;
    max-width: 100%;
    display: table;
    table-layout: auto;
    border-collapse: collapse; // Prevent double borders
    vertical-align: top;
  }
}

.table--fixed {
  table-layout: fixed;
}

thead th,
thead th a {
  background: $body-color;
  color: #fff;
}

th,
td {
  padding: .5em .25em;
  border-bottom: 1px solid $color-grey-lighter;
  text-align: left; /* LTR */

  .views-row-last & {
    border-bottom: 0;
  }
}

tfoot {
  th,
  td {
    border-bottom: 0;
  }
}

caption,
table td {
  color: $body-color;
}

caption {
  @include italic;
  margin-bottom: 10px;
}

tbody {
  border: 1px solid $color-grey-lighter;

  th {
    // background: $color-grey-lightest;
    // color: inherit;
  }
  tr {
    > * + * {
      border-left: 1px solid $color-grey-lighter;
    }
  }
}

.views-row-odd,
tbody tr:nth-child(odd) {
  background: #fff;
}

.views-row-even,
tbody tr:nth-child(even) {
  background: $color-grey-lightest;
}

th.active,
th.active a {
  background: coloriz(primary, base);
  color: #fff;
}

td.active {
  tbody tr:nth-child(odd) & {
    // background: darken(#ebebeb, 5%);
  }

  tbody tr:nth-child(even) & {
    // background: darken($color-grey-lightest, 5%);
  }
}

.table-responsive {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid $color-grey-lighter;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  th {
    white-space: nowrap;
  }

  td {
    .views-row-last & {
      border-bottom: 0;
    }
  }

  tbody {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    tr:first-child td {
      border-top: 0;
    }

    tr:last-child td {
      border-bottom: 0;
    }
  }
}
