
// @file: _text.scss
// Text class helpers

// Base colorz
@each $name, $color in $colorz {
  .#{$name}-color { color: $color; }
  .#{$name}-border { border-color: $color; }
  .#{$name}-background {
    background-color: $color;
    color: #fff;
  }
}

/*doc
---
title: Typography
section: true
---

|Key | Example | Code
|----|---------|-----|
|CAPS TEXT | <span class="caps">Text</span> | ``` <span class="caps">Text</span> ```
|small-caps | <span class="small-caps">Text</span> | ``` <span class="small-caps">Text</span> ```
|no-caps | <span class="no-caps">Text</span> | ``` <span class="no-caps">Text</span> ```
|lowercase | <span class="lower-caps">Long Text</span> lowercase Text | ``` <span class="lower-caps">Text</span> ```
|Capitalize | <span class="capitalize">Long Text</span> Capitalize Text | ``` <span class="capitalize">Text</span> ```
|bold | <span class="bold">Long strong Text</span> | ``` <span class="bold">Text</span> or <strong>Text</strong> ```
|italic | <span class="italic">Long italic Text</span> | ``` <span class="italic">Text</span> or <em>Text</em> ```
|regular | <span class="regular">Long Text</span> | ``` <span class="regular">Text</span> ```
|underline | <span class="underline">Long Text</span> | ``` <span class="underline">Text</span> or <s>Text</s> ```
|No underline | <span class="nounderline">Long Text</span> | ``` <span class="nounderline">Text</span> ```
|Strike | <span class="strike">Long Text</span> | ``` <span class="strike">Text</span> or <del>Text</del> ```

*/

// Texte en majuscule
.caps { text-transform: uppercase; }

// Texte en petites majuscules
.small-caps { font-variant: small-caps; }

// Texte en miniscule
.lower-caps { text-transform: lowercase; }

// Chaque mot avec la première lettre en majuscule
.capitalize { text-transform: capitalize; }

// Texte sans capitale
.no-caps { font-variant: normal; }

// Texte normal
.regular { font-weight: normal; font-style: normal; }

// Texte en gras
// Utilisé la mixin `@bold`
.bold { @include bold; }

// Texte italique
// Utilisé la mixin `@italic`
.italic { @include italic; }

// Ajouter un trait de soulignement
.underline { text-decoration: underline; }

// Supprimer la trait de soulignement
.nounderline { text-decoration: none; border-bottom: 0; }

// Couper le texte et ajouter des points de suspension
.ellipsis { text-overflow: ellipsis; }

// Barrer un texte
.strike { text-decoration: line-through; }

// Prevent text wrapping.
.nowrap { white-space: nowrap; }

/*doc
---
title: Taille
section: true
---

<span class="size-1x">`.size-1x` : 1x</span>\\
<span class="size-2x">`.size-2x` : 2x</span>\\
<span class="size-3x">`.size-3x` : 3x</span>\\
<span class="size-4x">`.size-4x` : 4x</span>\\
<span class="size-5x">`.size-5x` : 5x</span>\\
<span class="size-6x">`.size-6x` : 6x</span>\\
<span class="size-7x">`.size-7x` : 7x</span>\\
<span class="size-8x">`.size-8x` : 8x</span>\\

*/

// Taille 8x
.size-8x { font-size: 8em; }

// Taille 7x
.size-7x { font-size: 7em; }

// Taille 6x
.size-6x { font-size: 6em; }

// Taille 5x
.size-5x { font-size: 5em; }

// Taille 4x
.size-4x { font-size: 4em; }

// Taille 3x
.size-3x { font-size: 3em; }

// Taille 2x
.size-2x { font-size: 2em; }

// Taille 1x
.size-1x { font-size: 1em; }

/*doc
---
title: Text alignment
section: true
---

La justification n'est pas disponible car interdite en accessibilité pour des questions de lisibilité. Ou alors, la justication doit être contrôlable par l'utilisateur. [Critère RGAA 10.9 [AAA] Pour chaque page web, le texte ne doit pas être justifié.](https://references.modernisation.gouv.fr/rgaa-accessibilite/criteres.html#crit-10-9)

* `.text-left` : **Aligner un texte à gauche.**\\
  Peut être décliné en mode responsive avec les préfixes `xs-`, `sm-` `md-` et `lg-`.\\
  _Exemple: `.sm-text-left`_

* `.text-right` : **Aligner un texte à droite.**\\
  Peut être décliné en mode responsive avec les préfixes `xs-`, `sm-` `md-` et `lg-`.\\
  _Exemple: `.md-text-right`_

* `.text-center` : **Centrer un texte.**\\
  Peut être décliné en mode responsive avec les préfixes `xs-`, `sm-` `md-` et `lg-`.\\
  _Exemple: `.xs-text-center`_

*/

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

@media (max-width: $screen-xs-max) {
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }
  .sm-text-center { text-align: center; }
}

@media (max-width: $screen-sm-max) {
  .md-text-left { text-align: left; }
  .md-text-right { text-align: right; }
  .md-text-center { text-align: center; }
}

@media (max-width: $screen-md-max) {
  .lg-text-left { text-align: left; }
  .lg-text-right { text-align: right; }
  .lg-text-center { text-align: center; }
}

/*doc
---
title: Blocs flottant
section: true
---

* `.pull-left` : **Floattant à gauche.**\\
  _Exemple: `.pull-left`_

* `.pull-right` : **Floattant à droite.**\\
  _Exemple: `.pull-right`_

* `.pull-none` : **Annule un floattant.**\\
  _Exemple: `.pull-none`_

*/

.pull-left { float: left; }
.pull-right { float: right; }
.pull-none { float: none; }

/*doc
---
title: Blocs incrustations
category: Base - Typo
---

Utiliser souvent par le WYSIWYG pour aligner les images à gauche, centrer, ou à droite. Les espacements seront effectués.

* `.alignleft`: **Alignement à gauche.**\\
  Le block sera incrusté dans le texte à gauche.

* `.alignright`: **Alignement à droite.**\\
  Le block sera incrusté dans le texte à droite.

* `.aligncenter`: **Alignement centré.**\\
  Le block sera centré dans le texte.

* `.alignnone`: **Pas d'alignement.**\\
  Le block ne sera pas aligné.

<p><img class="alignleft mtn" src="http://lorempixel.com/250/250/animals/1" width="250" height="250" alt="" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi et voluptas expedita sunt sed dicta delectus esse commodi. Cupiditate, sunt, ullam, quasi, ipsam quisquam autem animi repudiandae sequi libero eos tempore commodi voluptates tempora est quam quas dignissimos officia consequuntur natus molestias? Recusandae, nostrum est consequuntur ad quam ducimus assumenda!</p>
<p><img class="alignright" src="http://lorempixel.com/150/150/animals/2" width="150" height="150" alt="" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, eligendi nihil at animi itaque tempore voluptas aperiam sit consequatur nisi magni iusto. Deleniti, molestiae, magnam, eligendi officiis voluptatibus voluptatum provident atque recusandae voluptate dolorem voluptatem inventore illo beatae rem doloribus debitis commodi quasi molestias in a eos maiores dolore nostrum quaerat perspiciatis. Sit, mollitia, neque, quasi libero provident rerum earum fugiat nihil sed odit dolorum eveniet quas dolores impedit voluptatibus incidunt debitis aliquam accusantium ab eligendi.</p>
<p><img class="aligncenter" src="http://lorempixel.com/150/150/animals/3" width="150" height="150" alt="" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, earum, molestias perferendis autem minima nihil itaque fugit quis. Eius, natus vitae similique impedit quod dolor tenetur nemo atque praesentium dolore commodi cum possimus quo quas eos magnam sapiente fugit accusamus magni quasi iure placeat quam dignissimos quidem vero aut autem officia dicta hic labore! Quibusdam delectus similique sit atque eum.</p>
<p><img class="alignnone" src="http://lorempixel.com/150/150/animals/4" width="150" height="150" alt="" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, ratione, quo, aliquid, quasi minus quia a accusantium ad obcaecati vitae adipisci eos facere dicta. Ex, in consequuntur tenetur eius laborum quisquam porro sequi. Molestias, ex libero cum eligendi magni laboriosam.</p>

*/
.alignleft {
  @extend .pull-left;
  margin-left: 0;
  margin-right: $grid-gutter-width;
}

.alignright {
  @extend .pull-right;
  margin-left: $grid-gutter-width;
  margin-right: 0;
}

.alignnone {
  @extend .clearfix;
  margin-right: 0;
  margin-left: 0;
  display: block;
}

.aligncenter {
  @extend .alignnone;
  margin-right: auto;
  margin-left: auto;
}

/*doc
---
title: List reset
category: Base - Typo
---

* Fonctionne avec `ul` et `ol`
* Supprime la puce et le `padding-left`

```html
  <ul class="list-none">
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
  </ul>
```

*/
.list-none,
.item-list ul {
  @include list-none;
}

/*doc
---
title: List inline
category: Base - Typo
---

`list-inline` ou `list-float`

* Fonctionne avec `ul` et `ol`
* Etendu à `.list-none`

```html
  <ul class="list-inline">
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
  </ul>
```

*/
.list-inline {
  @include list-inline;
}

/*doc
---
title: List separate
category: Base - Typo
---

* Fonctionne avec `ul` et `ol`
* Fonctionne uniquement avec `.list-inline`

```html
  <ul class="list-inline list-separate">
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
  </ul>
```

*/
.list-separate {
  @include list-separate;
}

/*doc
---
title: Definition
category: Base - Typo
---

Mettre en forme une liste de mot avec une description (exemple: clé / valeur.)

```html
  <dl>
    <dt>Description lists</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia</dd>
    <dt>Malesuada porta</dt>
    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
  </dl>
```

*/

/*doc
---
title: Definition horizontale
category: Base - Typo
---

[TODO]

```html
  <dl class="definition-inline">
    <dt>Description</dt>
    <dd>A description list is perfect for defining terms.</dd>
    <dt>Euismod</dt>
    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia</dd>
    <dt>Malesuada</dt>
    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
  </dl>
```

*/
.definition-inline {
  @include definition-inline;
}
