
// Import Variables / Helpers
@import "../../import";

/*doc
---
title: System menus
category: Module - System menus
---

Default Style CSS

*/

// scss-lint:disable QualifyingElement
ul li.expanded > a:before,
ul li.collapsed > a:before {
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -12px;
}

ul li.expanded > a:before {
  content: "\edc9";
}

ul li.collapsed > a:before {
  content: "\edc8";
}

li a.active,
li.active-trail > a {
  color: #{map-get($colorz, "primary")};
}

// scss-lint:enable QualifyingElement
