
// Settings Form
// =============

/// Input & select height
/// @type String
$input-height: 42px !default;

/// Field inline, label width
/// @type String
$form-label-width: 200px !default;

/// Field inline, label marge right
/// @type String
$form-label-marge: $grid-gutter-width !default;

/// Field background color
/// @type Color
$form-background-color: #fff !default;

/// Field border color
/// @type Color
$form-border-color: $color-grey-lighter !default;

/// Field border color hover
/// @type Color
$form-hover: coloriz(primary, base) !default;

/// Field background disable
/// @type Color
$form-disable: $color-grey-lightest !default;
