
// Settings Global
// ===============

/// Base font size
/// @type Length
$base-font-size: BASE_FONT_SIZE !default;

/// Base line-height
/// @type Length
$base-line-height: BASE_LINE_HEIGHT !default;

/// Body background.
/// @type Color
$body-background: BODY_BACKGROUND !default;

/// Body color.
/// @type Color
$body-color: BODY_COLOR !default;

// Links colors.
$link-color:         LINK_COLOR !default;
$link-color-hover:   LINK_HOVER !default;
$link-color-active:  LINK_ACTIVE !default;
$link-color-visited: LINK_VISITED !default;

/// Selection text color.
/// @type Color
$selection-background: SELECTION_BACKGROUND !default;

/// Selection text background.
/// @type Color
$selection-color: SELECTION_COLOR !default;

/// Background color html <mark>.
/// @type Color
$highlight-mark-color: HIGHLIGHT_MARK_COLOR !default;

// Font stack.
$font-families: (
  body:     (FONT_FAMILIES_BODY),
  headline: (FONT_FAMILIES_HEADLINE),
  pre:      (FONT_FAMILIES_PRE),
  print:    (FONT_FAMILIES_PRINT)
) !default;

/// default `<dt>` width
/// @type string
$definition-inline-width: DEFINITION_INLINE_WIDTH !default;

/// Définie la typo bold
/// @see italic
/// @example scss - Usage SCSS
///   p {
///     @include bold;
///   }
@mixin bold {
  font-weight: bold;
  font-style: normal;
}

/// Définie la typo italic
/// @see bold
/// @example scss - Usage SCSS
///   p {
///     @include italic;
///   }
@mixin italic {
  font-weight: normal;
  font-style: italic;
}

/*doc
---
title: Heading Font Size
category: Global - Variables
---

| Key | Value | Example
|-----|-------|--------
| h1  |  FONT_SIZE_H1 | <h1>.h1 Lorem Ipsum</h1>
| h2  |  FONT_SIZE_H2 | <h2>.h2 Lorem Ipsum</h2>
| h3  |  FONT_SIZE_H3 | <h3>.h3 Lorem Ipsum</h3>
| h4  |  FONT_SIZE_H4 | <h4>.h4 Lorem Ipsum</h4>
| h5  |  FONT_SIZE_H5 | <h5>.h5 Lorem Ipsum</h5>
| h6  |  FONT_SIZE_H6 | <h6>.h6 Lorem Ipsum</h6>

*/
$font-size: (
  h1: FONT_SIZE_H1,
  h2: FONT_SIZE_H2,
  h3: FONT_SIZE_H3,
  h4: FONT_SIZE_H4,
  h5: FONT_SIZE_H5,
  h6: FONT_SIZE_H6
) !default;

/*doc
---
title: Colorz
category: Global - Variables
---

Available for selectors :

* `<key>-color`
* `<key>-background`
* `<key>-border`

| Key | Hexa  | Background | Colorz
|-----|-------|------------|--------
| default | <span style="color:COLORZ_DEFAULT">COLORZ_DEFAULT</span> | <span class="default-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="default-color pas">Lorem Ipsum</span>
| primary | <span style="color:COLORZ_PRIMARY">COLORZ_PRIMARY</span> | <span class="primary-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="primary-color pas">Lorem Ipsum</span>
| secondary | <span style="color:COLORZ_SECONDARY">COLORZ_SECONDARY</span> | <span class="secondary-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="secondary-color pas">Lorem Ipsum</span>

*/
$colorz: (
  default:   COLORZ_DEFAULT,
  primary:   COLORZ_PRIMARY,
  secondary: COLORZ_SECONDARY,
) !default;

/// Theme Message
/// @type Map
/// @prop {Map} theme
/// @prop {Color} message.info.color [#477bb6] - Alerte info : couleur
/// @prop {String} message.info.icon [i-info] - Alerte info : icône
/// @prop {Color} message.warning.color [#ddae1e] - Alerte warning : couleur
/// @prop {String} message.warning.icon [i-warning] - Alerte warning : icône
/// @prop {Color} message.error.color [#b64747] - Alerte erreur : couleur
/// @prop {String} message.error.icon [i-error] - Alerte erreur : icône
/// @prop {Color} message.status.color [#77b647] - Alerte succès : couleur
/// @prop {String} message.status.icon [i-check] - Alerte succès : icône
$message: (
  info: (
    color: #477bb6,
    icon:  ".i-info",
  ),
  warning: (
    color: #ddae1e,
    icon:  ".i-warning",
  ),
  error: (
    color: #b64747,
    icon:  ".i-error",
  ),
  status: (
    color: #77b647,
    icon:  ".i-check",
  )
) !default;
