
// Settings Global
// ===============

/// Base font size
/// @type Length
$base-font-size: 16px !default;

/// Base line-height
/// @type Length
$base-line-height: 24px !default;

/// Body background.
/// @type Color
$body-background: #fff !default;

/// Body color.
/// @type Color
$body-color: #222 !default;

// Settings Typography
// ===================

/// Map font size
/// @type Map
/// @prop {Map} Fontsize
$font-size: (
  h1: 28px,
  h2: 24px,
  h3: 20px,
  h4: 18px,
  h5: 16px,
  h6: 14px
) !default;

// $dffdg: (
//   xs: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   ),
//   sm: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   ),
//   md: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   ),
//   lg: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   )
// );

/// Font stack.
/// @type Map
/// @prop {Map} Font stack
$font-families: (
  body:     ("Open Sans", Helvetica, Arial, sans-serif),
  headline: ("Helvetica Neue", Helvetica, Arial, sans-serif),
  pre:      (Menlo, Monaco, Consolas, "Courier New", monospace),
  print:    ("Helvetica Neue", Helvetica, Arial, sans-serif)
) !default;

/// default `<dt>` width
/// @type Length
$definition-inline-width: 150px !default;

/// Définie la typo bold
/// @see italic
/// @example scss - Usage SCSS
///   p {
///     @include bold;
///   }
@mixin bold {
  font-weight: bold;
  font-style: normal;
}

/// Définie la typo italic
/// @see bold
/// @example scss - Usage SCSS
///   p {
///     @include italic;
///   }
@mixin italic {
  font-weight: normal;
  font-style: italic;
}

// Settings Colorz
// ===============

/// Base color
/// @type Color
$color-default: #f31b44;

/// Primary color
/// @type Color
$color-primary: #161324;

/// Secondary color
/// @type Color
$color-secondary: #343140;

/// Color shade lighter
/// @type Pourcent
$color-shade-lighter: 45%;

/// Color shade light
/// @type Pourcent
$color-shade-light: 15%;

/// Transparency amount
/// @type Pourcent
$color-trans-amount: 0.5;

/// Color variable map
/// @type Map
/// @prop {Map} Color map
$colors: (
  // text: $body-color,
  // background: $body-background,
  default: (
    base: $color-default,
    light: lighten($color-default, $color-shade-light),
    lighter: lighten($color-default, $color-shade-lighter),
    dark: darken($color-default, $color-shade-light),
    trans: transparentize($color-default, $color-trans-amount)
  ),
  primary: (
    base: $color-primary,
    light: lighten($color-primary, $color-shade-light),
    lighter: lighten($color-primary, $color-shade-lighter),
    dark: darken($color-primary, $color-shade-light),
    trans: transparentize($color-primary, $color-trans-amount)
  ),
  secondary: (
    base: $color-secondary,
    light: lighten($color-secondary, $color-shade-light),
    lighter: lighten($color-secondary, $color-shade-lighter),
    dark: darken($color-secondary, $color-shade-light),
    trans: transparentize($color-secondary, $color-trans-amount)
  )
);

/// Color grey variable map
/// @type Map
/// @prop {Map} Color grey
$colorz_grey: (
  grey-lightest: #f1f1f1,
  grey-lighter:  #d6d7d9,
  grey-light:    #aeb0b5,
  grey-dark:     #323a45,
  grey:          #5b616b,
) !default;

$color-grey-lightest: map-get($colorz_grey, "grey-lightest");
$color-grey-lighter: map-get($colorz_grey, "grey-lighter");
$color-grey-light: map-get($colorz_grey, "grey-light");
$color-grey-dark: map-get($colorz_grey, "grey-dark");
$color-grey: map-get($colorz_grey, "grey");

// Links colors.
$link-color:         map-get(map-get($colors, "default"), "base") !default;
$link-color-hover:   map-get(map-get($colors, "primary"), "base") !default;
$link-color-active:  map-get(map-get($colors, "primary"), "base") !default;
$link-color-visited: map-get(map-get($colors, "default"), "base") !default;

/// Selection text color.
/// @type Color
$selection-background: #fff8ab !default;

/// Selection text background.
/// @type Color
$selection-color: #666 !default;

/// Background color html <mark>.
/// @type Color
$highlight-mark-color: #ff0 !default;

/// Theme Message
/// @type Map
/// @prop {Map} theme
/// @prop {Color} message.info.color [#477bb6] - Alerte info : couleur
/// @prop {String} message.info.icon [\f05a] - Alerte info : icône
/// @prop {Color} message.warning.color [#ddae1e] - Alerte warning : couleur
/// @prop {String} message.warning.icon [\f071] - Alerte warning : icône
/// @prop {Color} message.error.color [#b64747] - Alerte erreur : couleur
/// @prop {String} message.error.icon [\f057] - Alerte erreur : icône
/// @prop {Color} message.status.color [#77b647] - Alerte succès : couleur
/// @prop {String} message.status.icon [\f00c] - Alerte succès : icône
$message: (
  error: (
    color: #b64747,
    icon:  "\f057",
  ),
  warning: (
    color: #ddae1e,
    icon:  "\f071",
  ),
  info: (
    color: #477bb6,
    icon:  "\f05a",
  ),
  status: (
    color: #77b647,
    icon:  "\f00c",
  )
) !default;
