
// Settings Global
// ===============

/// Base font size
/// @type Length
$base-font-size: BASE_FONT_SIZE !default;

/// Base line-height
/// @type Length
$base-line-height: BASE_LINE_HEIGHT !default;

/// Body background.
/// @type Color
$body-background: BODY_BACKGROUND !default;

/// Body color.
/// @type Color
$body-color: BODY_COLOR !default;

// Settings Typography
// ===================

/// Map font size
/// @type Map
/// @prop {Map} Fontsize
$font-size: (
  h1: FONT_SIZE_H1,
  h2: FONT_SIZE_H2,
  h3: FONT_SIZE_H3,
  h4: FONT_SIZE_H4,
  h5: FONT_SIZE_H5,
  h6: FONT_SIZE_H6
) !default;

// $dffdg: (
//   xs: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   ),
//   sm: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   ),
//   md: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   ),
//   lg: (
//     body: (100%, 1.5, false, false, false)
//     h1: (fz, lg, false, false, false),
//     h2: (fz, lg, false, false, false),
//     h3: (fz, lg, false, false, false),
//     h4: (fz, lg, false, false, false),
//     h5: (fz, lg, false, false, false),
//     h6: (fz, lg, false, false, false),
//   )
// );

/// Font stack.
/// @type Map
/// @prop {Map} Font stack
$font-families: (
  body:     (FONT_FAMILIES_BODY),
  headline: (FONT_FAMILIES_HEADLINE),
  pre:      (FONT_FAMILIES_PRE),
  print:    (FONT_FAMILIES_PRINT)
) !default;

/// default `<dt>` width
/// @type Length
$definition-inline-width: DEFINITION_INLINE_WIDTH !default;

/// Définie la typo bold
/// @see italic
/// @example scss - Usage SCSS
///   p {
///     @include bold;
///   }
@mixin bold {
  font-weight: bold;
  font-style: normal;
}

/// Définie la typo italic
/// @see bold
/// @example scss - Usage SCSS
///   p {
///     @include italic;
///   }
@mixin italic {
  font-weight: normal;
  font-style: italic;
}

// Settings Colorz
// ===============

/// Base color
/// @type Color
$color-default: COLORZ_DEFAULT;

/// Primary color
/// @type Color
$color-primary: COLORZ_PRIMARY;

/// Secondary color
/// @type Color
$color-secondary: COLORZ_SECONDARY;

/// Color shade lighter
/// @type Pourcent
$color-shade-lighter: 45%;

/// Color shade light
/// @type Pourcent
$color-shade-light: 15%;

/// Transparency amount
/// @type Pourcent
$color-trans-amount: 0.5;

/// Color variable map
/// @type Map
/// @prop {Map} Color map
$colors: (
  // text: $body-color,
  // background: $body-background,
  default: (
    base: $color-default,
    light: lighten($color-default, $color-shade-light),
    lighter: lighten($color-default, $color-shade-lighter),
    dark: darken($color-default, $color-shade-light),
    trans: transparentize($color-default, $color-trans-amount)
  ),
  primary: (
    base: $color-primary,
    light: lighten($color-primary, $color-shade-light),
    lighter: lighten($color-primary, $color-shade-lighter),
    dark: darken($color-primary, $color-shade-light),
    trans: transparentize($color-primary, $color-trans-amount)
  ),
  secondary: (
    base: $color-secondary,
    light: lighten($color-secondary, $color-shade-light),
    lighter: lighten($color-secondary, $color-shade-lighter),
    dark: darken($color-secondary, $color-shade-light),
    trans: transparentize($color-secondary, $color-trans-amount)
  )
);

/// Color grey variable map
/// @type Map
/// @prop {Map} Color grey
$colorz_grey: (
  grey-lightest: COLORZ_GREY_GREY_LIGHTEST,
  grey-lighter:  COLORZ_GREY_GREY_LIGHTER,
  grey-light:    COLORZ_GREY_GREY_LIGHT,
  grey-dark:     COLORZ_GREY_GREY_DARK,
  grey:          COLORZ_GREY_GREY,
) !default;

$color-grey-lightest: map-get($colorz_grey, "grey-lightest");
$color-grey-lighter: map-get($colorz_grey, "grey-lighter");
$color-grey-light: map-get($colorz_grey, "grey-light");
$color-grey-dark: map-get($colorz_grey, "grey-dark");
$color-grey: map-get($colorz_grey, "grey");

// Links colors.
$link-color:         map-get(map-get($colors, "default"), "base") !default;
$link-color-hover:   map-get(map-get($colors, "primary"), "base") !default;
$link-color-active:  map-get(map-get($colors, "primary"), "base") !default;
$link-color-visited: map-get(map-get($colors, "default"), "base") !default;

/// Selection text color.
/// @type Color
$selection-background: SELECTION_BACKGROUND !default;

/// Selection text background.
/// @type Color
$selection-color: SELECTION_COLOR !default;

/// Background color html <mark>.
/// @type Color
$highlight-mark-color: HIGHLIGHT_MARK_COLOR !default;

// Settings Message
// ================

/// Error color
/// @type Color
$color-error: MESSAGES_ERROR;

/// Warning color
/// @type Color
$color-warning: MESSAGES_WARNING;

/// Info color
/// @type Color
$color-info: MESSAGES_INFO;

/// Status color
/// @type Color
$color-status: MESSAGES_STATUS;

/// Theme Message
/// @type Map
/// @prop {Map} theme
/// @prop {Color} message.info.color [MESSAGES_INFO] - Alerte info : couleur
/// @prop {String} message.info.icon [\f05a] - Alerte info : icône
/// @prop {Color} message.warning.color [MESSAGES_WARNING] - Alerte warning : couleur
/// @prop {String} message.warning.icon [\f071] - Alerte warning : icône
/// @prop {Color} message.error.color [MESSAGES_ERROR] - Alerte erreur : couleur
/// @prop {String} message.error.icon [\f057] - Alerte erreur : icône
/// @prop {Color} message.status.color [MESSAGES_STATUS] - Alerte succès : couleur
/// @prop {String} message.status.icon [\f00c] - Alerte succès : icône
$message: (
  error: (
    base:  $color-error,
    light: lighten($color-error, 45%),
    dark:  darken($color-error, 15%),
    icon:  "\f057",
  ),
  warning: (
    base:  $color-warning,
    light: lighten($color-warning, 45%),
    dark:  darken($color-warning, 15%),
    icon:  "\f071",
  ),
  info: (
    base:  $color-info,
    light: lighten($color-info, 45%),
    dark:  darken($color-info, 15%),
    icon:  "\f05a",
  ),
  status: (
    base:  $color-status,
    light: lighten($color-status, 45%),
    dark:  darken($color-status, 15%),
    icon:  "\f00c",
  )
) !default;
