
// Mixins Lists
// ============

/// Mixin list-none.
/// @see list-inline
/// @see list-separate
/// @see definition-inline
/// @example scss - Usage SCSS
///   ul {
///     @include list-none;
///   }
@mixin list-none {
  list-style-type: none;
  padding-left: 0;
}

/// Mixin list-inline.
/// @see list-none
/// @see list-separate
/// @see definition-inline
/// @example scss - Usage SCSS
///   ul {
///     @include list-inline;
///   }
@mixin list-inline {
  @include list-none;
  li {
    display: inline;
  }
}

/// Mixin list-separate.
/// @see list-none
/// @see list-inline
/// @see definition-inline
/// @example scss - Usage SCSS
///   ul {
///     @include list-separate;
///   }
@mixin list-separate {
  li {
    &:before {
      content: " · ";
      padding-left: 5px;
      padding-right: 5px;
    }

    &:first-child:before {
      content: "";
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/// Mixin definition-inline.
/// @see list-none
/// @see list-inline
/// @see list-separate
/// @param {Length} $width [$definition-inline-width] - Legend width
/// @param {Boolean} $ellipsis [true] - Active ellipsis
/// @example scss - Usage SCSS
///   dl {
///     @include definition-inline;
///   }
@mixin definition-inline(
  $width: $definition-inline-width,
  $ellipsis: true
  ) {

  @extend %clearfix;

  dt {
    float: left;
    width: $width;

    @if ($ellipsis) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  dd {
    margin-left: $width + 10;
  }
}
