
// Mixins Buttons
// ==============

/// Add color for button.
/// @param {Color} $color [#fff] - Color Font
/// @param {Color} $background [#000] - Background Color
/// @example scss - Usage SCSS
///   a {
///     @include btn-theme(#fff, #000);
///   }
@mixin btn-theme(
  $color: #fff,
  $background: #000
  ) {

  background-color: $background;
  color: $color;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($background, 10%);
  }
}

/// Add color for button outline.
/// @param {Color} $color [#000] - Color font & border
/// @example scss - Usage SCSS
///   a {
///     @include btn-outline(#000);
///   }
@mixin btn-outline(
  $color: #000
  ) {

  box-shadow: inset 0 0 0 2px $color;
  background-color: #fff;
  color: $color;

  &:hover,
  &:focus,
  &:active,
  &.active {
    box-shadow: inset 0 0 0 2px darken($color, 10%);
    background-color: lighten($color, 50%);
    color: darken($color, 10%);
  }
}
