
// Mixins Form
// ===========

/// Item form field
/// @group Drupal
/// @see form-item-inline
/// @param {String} $input-height [$input-height] - Line Height
/// @example scss - Usage SCSS
///   .form-item {
///     @include form-item(32px);
///   }
@mixin form-item($input-height) {
  @extend %clearfix;
  position: relative;
  margin: 0 0 rhythm(.5);

  label {
    @include bold;
    display: block;
    line-height: $input-height;
  }

  .form-item {
    margin: 0;
  }

  &.form-type--radio,
  &.form-type--checkbox,
  &.form-type--checkboxes {
    // margin: 0;
    label {
      // display: inline-block;
      // vertical-align: middle;
      line-height: pem($base-line-height);
    }

    .description {
      display: block;
      padding-left: pem($base-line-height, 12px);
    }
  }
}

/// Webform - Item form field Inline (responsive version is block)
/// @group Drupal
/// @see form-item
/// @param {String} $input-height [$input-height] - Line Height
///   .form-item {
///     @include form-item-inline(32px);
///   }
@mixin form-item-inline($input-height) {
  @include mq("small") {
    padding: 0 0 0 $form-label-width + $form-label-marge;

    label,
    .label {
      position: absolute;
      top: 0;
      left: 0;
      width: $form-label-width;
      margin-right: $form-label-marge;
      text-align: right;
    }

    .form-item {
      padding-left: 0;
      margin-bottom: 0;

      label,
      .label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: auto;
        margin-right: 0;
        font-weight: normal;
        text-align: left;
      }
    }

    .form-type--radio,
    .form-type--checkbox {
      label {
        position: relative;
        width: auto;
        margin-right: 0;
        text-align: left;
      }
    }
  }
}

/// Custom - ???
/// @group Drupal
/// @todo Check utiliiy
/// @see form-item
@mixin form-item-inlineblock {
  .form-item:first-child {
    margin-right: 20px;
  }

  > .form-item {
    float: left;
  }
}
